@dark-top-pane: #0d47a1;
@dark-left-pane: #1565c0;

@dark-left1: #1976d2;
/*@dark-left1: #009688;*/
@dark-left2: #1e88e5;
@dark-left3: #2196f3;



/*@main-bgr-color: #eaeef2;*/

@main-bgr-color: #f2f2f2;
@main-dark-color: #1976d2;
/*@main-dark-color: #0097a7;*/
/*@main-dark-color: #009688;*/

@main-bgr-color: #eaeef2;
@main-bgr-line-color: #d4d9de;

@text-color-light: #bbdefb;
@text-color-main: #555555;
@text-color-main-no-active: #a4a4a4;

@light: #f3faff;
@light1: #e3f2fd;
/*@light1: #eeeeee;*/
@light2: #bbdefb;

@btn-border-color: #90caf9;
@light-pane-border-color: #daeefd;

/*----gray shade-----*/
/*@light-border-on-white: #eaeaea;
@light-pane-bgr-on-white: #f6f6f6;*/
/*----blue shade-----*/
@light-border-on-white: #eaeef2;
/*@light-border-on-white: #eaeaea;*/
@light-pane-bgr-on-white: #f5f7f9;
/*@light-pane-bgr-on-white: #f5f7f9;*/
/*@light-pane-bgr-on-white: #f6f6f6;*/


@dark-border-on-white: #e1e7ed;
@input-bgr: #FFFFFF;

/*@light-border-on-white: @light1;
@light-pane-bgr-on-white: @light;*/



@color-red-dark: #dd004b;
/*@color-red-dark: #ec407a;*/


@content-max-width: 1200px;

@padding-box-lr: 40px;
@padding-box-tb: 40px;

@space-between-blocks: 30px;

@space-between-inputs: 8px;

@padding-box-lr-2lev: 30px;
@padding-box-tb-2lev: 30px;

@active-row-bg-color: #ecf4fc;

.box-style{
  border: 0px solid @light1 !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
}


.green{
  background-color: #5a9218;
  /*border-bottom: 4px solid #7db33e;*/
}

.yellow{
  background-color:#2196f3;
 /* border-bottom: 4px solid #ffa800;*/
}

.rose{
  background-color: #bf3285;
  /*border-bottom: 4px solid #dd5ccc;*/
}

.c2{
  background-color: #00a0b3;

}


.temp{
  border: 1px solid red;
}