/*@dark-left1: #009688;*/
/*@main-bgr-color: #eaeef2;*/
/*@main-dark-color: #0097a7;*/
/*@main-dark-color: #009688;*/
/*@light1: #eeeeee;*/
/*----gray shade-----*/
/*@light-border-on-white: #eaeaea;
@light-pane-bgr-on-white: #f6f6f6;*/
/*----blue shade-----*/
/*@light-border-on-white: #eaeaea;*/
/*@light-pane-bgr-on-white: #f5f7f9;*/
/*@light-pane-bgr-on-white: #f6f6f6;*/
/*@light-border-on-white: @light1;
@light-pane-bgr-on-white: @light;*/
/*@color-red-dark: #ec407a;*/
.box-style {
  border: 0px solid #e3f2fd !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.green {
  background-color: #5a9218;
  /*border-bottom: 4px solid #7db33e;*/
}
.yellow {
  background-color: #2196f3;
  /* border-bottom: 4px solid #ffa800;*/
}
.rose {
  background-color: #bf3285;
  /*border-bottom: 4px solid #dd5ccc;*/
}
.c2 {
  background-color: #00a0b3;
}
.temp {
  border: 1px solid red;
}
