@import "settings";
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700&subset=latin,cyrillic-ext);

/*<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>*/

body{

  color: @text-color-main;
  font-size: 16px;
}

label{
  font-weight: 500;
}

.form-horizontal .control-label {

  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control{
  font-size: 1em;
}
table.sonata-ba-list {
  font-size: 1em;






}



/*-----top pane - user photo-----*/
/*
.img-user-photo-top{
width: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
}
*/

.top-info{

  i{font-size: 1.8em;}

  position: relative;
  span{
    position: absolute;
    /*bottom: -15px;*/
    top: 33px;
    left: 50%;
    margin-left: -20px;
    font-size: 0.7em;
    font-weight: 800;
    border-radius: 2px;

    color: @text-color-main;

    width: 40px;
    text-align: center;
    padding: 1px 3px;
    .box-style;
    background-color: #bde27d;
  }

  .span-attention{
  background-color: @color-red-dark;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .img-circle{
    max-width: 30px;
  }

  .div-user-name{
    display: inline-block;
    padding-left: 10px;
  }
}


@media (max-width: 1300px) {
  .top-info{
  .div-user-name{
    display: none;

  }
  }
}

.top-menu-level2-container{
  display: block;
  width: 100%;
  background-color: @light1;
  text-align: right;

  ul{margin-bottom: 0px;}

  border-bottom: 1px solid @light-pane-border-color;

}


.test-menu{
  display: block;
  /*float: none;
  clear: both;*/
  float: right;
  li{
    display: inline-block;
    padding: 10px 15px;
    a{
      color:@text-color-main !important;
      font-size: 0.9em;
    }
  }
}
.main-header{

  background-color: @main-dark-color;


}


.skin-black .main-header > .navbar {
  /*background-color: @dark-left1;*/

background-color: @main-dark-color;


  /*padding-right: 300px;
  padding-left: 300px;*/

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);


}



.skin-black .main-header > .logo{
  background-color: @main-dark-color;
  color: #FFFFFF;
  border-bottom: 0px solid transparent;
  border-right: none;




}


.main-header .logo{
 /* height: 200px;*/
}

.main-sidebar, .left-side{
  padding-top: 120px;
 /* width: 350px;*/
}

#top-exit{
  position: fixed;
  top: 0px;
  right: 0px;
  display: block;
}

#top-custom-menu{
  position: fixed;
  top: 0px;
  right: 100px;
}

@media (max-width: 1024px){
  #top-custom-menu{
    background-color: @dark-left2;

    position:static;
    width: 100%;



  }
}

.content-wrapper, .right-side, .main-footer {

 /* margin-left: 350px;*/

}

.main-header > .navbar {

  /*margin-left: 0px;*/
}

.main-header{
  .content{
  /*  .temp;*/

    min-height: auto;
    padding-top: 0px;
    padding-bottom: 0px;


    padding-right: 500px;
  }
}

.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
 /* transform: translate(-350px, 0px);*/
}


.fixed .content-wrapper, .fixed .right-side {
  padding-top: 120px;
}

.skin-black .main-sidebar, .skin-black .left-side, .skin-black .wrapper {
  /*background: none repeat scroll 0% 0% @dark-left-pane;*/
  /*background: none repeat scroll 0% 0% #ffffff;*/
  background: none repeat scroll 0% 0% @main-bgr-color;

  /*box-shadow: 1px 0px 4px rgba(0,0,0,0.1);*/
  box-shadow: none;
}

.main-header .logo{
  /*line-height: 70px;*/
  text-align: left;
}

.logo img {

 /* max-width: 120px;
  margin-left: 30px;
  padding-bottom: 0px;*/
  max-width: 70px;
	padding-top: 3px;

}

.main-header .sidebar-toggle {

/*  padding: 25px 25px;*/
  padding: 14px 20px;
  font-size: 1.2em;
 /* color: @text-color-main;*/

}
.navbar-custom-menu > .navbar-nav > li > a {

 /* font-size: 1.4em;*/
  font-weight: 400;
  padding: 14px 12px;
  line-height: normal;
}

.skin-black .main-header > .navbar .navbar-custom-menu > .nav {
  margin-right: 0px;
}

.main-header .navbar-custom-menu, .main-header .navbar-right {
  margin-right: 0px;

}


.dropdown-menu{
  font-weight: 300;
  font-size: 1em;
}

#actions{
  position: fixed !important;

  z-index: 1000;
  bottom: 50px;
  right: 20px;


text-align: right;


  /*.open  a{
    background-color: transparent;
  }*/
  .dropdown-toggle {color: #ffffff;

  }

  .dropdown-menu {
    position: relative;}
/*
  .dropdown-menu {
    position: static;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: none;
   *//* min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);*//*
  }*/
}

#toggle-actions {
  margin-top: 20px;
  /*height: 50px;
  width: 50px;*/
  border-radius: 100%;
  text-align: center;


  background-color: @color-red-dark;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

	position: absolute;
	bottom: 0px;
	right: 10px;
}

#actions{
	.sonata-actions{
		position: relative;
		padding-bottom: 80px;


		.dropdown-menu{
			text-align: right;

			background-color: transparent;
			box-shadow: none;

		}


		.sonata-action-element span{
			color: #ffffff;
			background-color: #5e6f81;
			padding: 2px 15px;
			border-radius: 2px;
		}
	}
}


.rbtn{
	border-radius: 100%;
	text-align: center;
	padding: 6px;
	margin-left: 20px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.rbtn-create{
	background-color: #8bc34a;
}
.rbtn-list{

	background-color: #9575cd;
}

.rbtn-show{
	background-color: #f9a825;
}

.dropdown-menu-header{
  font-size: 1.2em;
  padding: 10px 20px 5px 20px;
  font-weight: 400;
  /*color: @text-color-main-no-active;*/
}


.skin-black .main-header > .navbar > .sidebar-toggle{
  border-right: none;
  color: @text-color-light;


  &:hover{
    color: #ffffff;
    /*background-color: @dark-left-pane;*/
    background-color: @dark-left1;
  }
}

.exit-btn{
  color: #ffffff;
  background-color: @dark-left1;
}

.skin-black .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black .main-header > .navbar .navbar-right > li > a {
 /* border-left-color: @dark-top-pane;*/
  border-left: none;
/*  background-color:  @dark-left-pane;*/
  color: #ffffff;
  &:hover{
   /* color: @text-color-light;*/
  }

}


.skin-black .sidebar a {
  color: @dark-left1;
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  background-color: @main-bgr-color;



}

.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a
{
  background-color: @main-bgr-color;
  /*color: @text-color-main;*/

  color: @dark-left1;
 /* font-weight: 600;*/

}

.sidebar-menu{
  padding-top: 25px;
}

.sidebar-menu .treeview-menu {

/*  padding: 10px 10px 10px 10px;*/


  padding : 0px 0px 0px 50px;


}

.sidebar-menu .treeview-menu > li > a{
  color: @text-color-main;
  &:hover{
    color:@text-color-light;
  }
}



.sidebar-menu .treeview-menu > li {


  border-top: 1px solid @main-bgr-line-color;
  padding: 10px;

  i{
    color: @dark-left1;
    /*font-size: 1.5em;*/
    margin-left: -45px;
  }
}

.skin-black .treeview-menu > li.active > a, .skin-black .treeview-menu > li > a:hover {
  color: #FFF;
  color: @text-color-main;
}

.sidebar-menu .treeview-menu > li:first-of-type {


  border-top: none;
}


.skin-black .main-header > .navbar .nav > li > a:hover, .skin-black .main-header > .navbar .nav > li > a:active, .skin-black .main-header > .navbar .nav > li > a:focus, .skin-black .main-header > .navbar .nav .open > a, .skin-black .main-header > .navbar .nav .open > a:hover, .skin-black .main-header > .navbar .nav .open > a:focus {
  background-color: @dark-left1;
  color:@text-color-light;
}


.bg-light-blue, .label-primary, .modal-primary .modal-body {
  background-color: @dark-left-pane !important;
}
/*----check box-----*/
.icheckbox_flat-blue, .iradio_flat-blue {

  background: transparent url("/app/images/blue.png") no-repeat scroll 0% 0%;

}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: auto;
  padding: 10px 15px;
  text-align: left;

}

.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 0px 0px 0px;
  border-top-width: 0px;
  /*width: 280px;*/
  width: 100%;
}
/*------*/


a {
  color: @dark-left1;
}

a:hover, a:active, a:focus {
  outline: medium none;
  text-decoration: none;
  color: @dark-top-pane;
}

/*-----search*/
.skin-black .sidebar-form{
/*  border-color: @dark-left-pane;*/
 /*   border-color:@dark-left-pane;

  width: 550px;*/

  border-color:@main-bgr-line-color;
	border: none;
	margin: 11px 10px 9px 10px;
}
.skin-black .sidebar-form .btn{
  color: #ffffff;
}
.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn{
 /* background-color:@dark-left1;*/
}

.placeholder(@color: red) {
  &::-moz-placeholder           { color: @color; } // Firefox
  &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}
.skin-black .sidebar-form input[type="text"] {
  color: #ffffff;
  background-color: @dark-left1;
	padding-left: 25px;



.placeholder(@light2);

	.placeholder(#ffffff);



}


.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn {
	box-shadow: none;
	/*background-color: #26a69a;*/
	background-color: @dark-left2;
	border: 1px solid transparent;
	height: 35px;
	transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15) 0s;
}

/*

.wrapper{
  width: 1000px;
}
*/


/*------end search*/
.content-wrapper, .right-side{
  background-color: @main-bgr-color;
}

.content-ww{
  max-width: @content-max-width;
  margin: auto;


}

h1{
  font-weight: 400;
 /* font-family: 'Scada', sans-serif;*/
  font-size: 1.5em;
  color: @text-color-main;
}
/*-----box------*/

/*
.content, .content-header{
  margin: auto;
  max-width: @content-max-width;
}
*/


.box{
  /*box-shadow: 0px 1px 1px rgba(13, 71, 161, 0.3);*/
  box-shadow: none;
 /* border: 1px solid  @light2;*/

  border-top: 0px solid @light2;

  border: 1px solid @light-border-on-white;
  border-radius: 0px;
  margin-bottom: @space-between-blocks;

  max-width: @content-max-width;
}

.sonata-filters-box{
  .box-body{


    padding: @padding-box-tb @padding-box-lr  (@padding-box-tb - @space-between-inputs)  @padding-box-lr ;
  }
}

.box.box-primary{
 .box-style;
  /*padding-top: 20px;
  padding-bottom: 10px;*/

 /* padding: 30px;
  padding-bottom: 20px;*/
}

.sonata-ba-show{
  .box-style;
  padding: @padding-box-tb @padding-box-lr (@padding-box-tb - @space-between-blocks) @padding-box-lr;

  .table{
    tr:first-of-type td, tr:first-of-type th{
      border-top: none;
    }

    tr th{
       padding-left: @padding-box-lr-2lev;
       padding-right: 20px;
       font-weight: 500;
    }

    tr td{
      padding-right: @padding-box-lr-2lev;
    }
  }
}

.sonata-ba-list-field-batch
{width: 36px;}

/*.table-striped tbody tr.sonata-ba-list-row-selected td, .table-striped tbody tr.sonata-ba-list-row-selected th {
	background-color: #eaeef2;
}*/


.sonata-ba-view-container:nth-child(2n):hover td, .sonata-ba-view-container:nth-child(2n):hover th {
  background-color: @active-row-bg-color;
}

.sonata-ba-view-container:nth-child(2n) td, .sonata-ba-view-container:nth-child(2n) th {
  background-color: transparent;
}

.box-header {



  border-bottom: 1px solid @light-border-on-white;

  /*padding: 17px 20px 13px 20px;*/
  padding: (@padding-box-tb-2lev - 12px) @padding-box-lr-2lev (@padding-box-tb-2lev - 17px) @padding-box-lr-2lev;
  /*margin-bottom: 15px;
*/
  background-color: @light-pane-bgr-on-white;
}

.box-body{
  /*padding: 17px 20px 13px 20px;*/
  padding: @padding-box-tb-2lev  @padding-box-lr-2lev ;
}


.box-footer {
  border-radius: 0px 0px 3px 3px;
  border-top: 0px solid #F4F4F4;
  padding: 30px 10px 50px 10px;
  background-color: transparent;
}
/*-----end box-----*/
.dropdown-menu {
  /*box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);*/
  .box-style;
  border-color: @light-pane-border-color;
  background-color: @light;
  color: @text-color-main;
  border-radius: 0px;
}

.dropdown-menu > li > a {
  color: @text-color-main;
}

.skin-black .navbar .dropdown-menu > li > a:hover {
  background-color: @light1;
}
.dropdown-menu > li > a:hover {
  background-color: @light1;
  color: @text-color-main;
}

.dropdown-menu > li > a:focus {
  background-color: @light1;
  color: @text-color-main;
}
/*----nav bar-----*/

.navbar-default {
  /*background-color: @light1;
  border-color: @light-pane-border-color;*/

  background-color: transparent;
  border-color: transparent;
}
.navbar {
  border-radius: 0px;
}
/*-----*/
.table-striped>tbody>tr:nth-of-type(even){
  background-color: #ffffff;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #ffffff
}

.table-bordered {
  /*border: 1px solid @light1;*/
  border: 0px solid @light-border-on-white;

  /*border-top: 1px solid #c7e5fe;*/
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: @light-border-on-white;
}

.table > thead > tr > th{
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid @light-border-on-white;
  background-color: @light-pane-bgr-on-white;
  padding-top: 20px;
  padding-bottom: 15px;


}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 1px solid @light-border-on-white;
}

.sonata-ba-list td.sonata-ba-list-field a.sonata-link-identifier {
  font-weight: 500;
}

.table > thead > tr > th {

  font-weight: 500;
}

/*--------form els------*/
.form-control {

  /*border-color:  @light2;*/
  border-color: @dark-border-on-white;
  background-color: @input-bgr;
}

.form-group {
  margin-bottom: @space-between-inputs;
}


.select2-container .select2-choice, .select2-container .select2-choices, .select2-container .select2-choices .select2-search-field input {
  background: #FFF none repeat scroll 0% 0%;
  padding: 0px;
  /*border-color:@light1;*/
  border-color: @dark-border-on-white;
/*  background-color: @light;*/
  border-radius: 0px;
  color: @text-color-main;
  font-family:  'Roboto', sans-serif;font-family: 'Roboto Condensed', sans-serif;

  font-size: 1em;
  box-shadow: none;
}


.select2-drop-auto-width, .select2-drop.select2-drop-above.select2-drop-active {
  /*border-color: @light2;*/
  .box-style;
  border: 1pa solid @dark-border-on-white !important;
}

.select2-drop.select2-drop-above{
  /*box-shadow: 0 -2px 3px rgba(0,0,0,0.1);*/
  .box-style;
 /* background-color: @light;*/
}

.select2-results .select2-highlighted{
  background-color: @main-dark-color;
}
/*----------------buttons-------*/
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
  background-color: #43a047 !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
  background-color: @color-red-dark !important;
}


.btn {
  border-radius: 3px;

  box-shadow: 0 2px 3px rgba(0,0,0,0.1);

  /*border-top: 3px solid @btn-border-color;*/
  border: none;




  /*font-size: 1em;*/
  text-transform: uppercase;
  padding: 4px 20px;

  margin: 2px;

 i{
   margin-right: 10px;

 }

}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {

	margin-top: 0px;
}

.btn-default {
  background-color: @light-pane-bgr-on-white;
  color: @text-color-main-no-active;
  border-color: @light-border-on-white;

  &:hover{
    background-color: @light-border-on-white !important;
    color: @text-color-main;
  }
}

.btn-round{
  .btn{
    border-radius: 50%;
    border: 1px solid @main-bgr-line-color;
    color: @text-color-main-no-active;
    height: 40px;
    width: 40px;

    padding: 4px 0px;
    text-align: center;
    box-shadow: none;
    background-color: @main-bgr-color;
    vertical-align: middle;



    &:hover{
      color: @text-color-main;
      background-color: @main-bgr-color !important;
    }

    i{
      font-size: 1.2em;
      margin-top: 8px;
      font-weight: 300;
     /* text-align: center;*/
      padding: 0px;
		padding-left: 7px;
    }

  }

  .btn-default.active{
    color: @text-color-main;
    background-color:@main-bgr-line-color;
  }
}


.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
  color: @text-color-main;
  background-color: @main-bgr-line-color;
  border-color: @main-bgr-line-color;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: @dark-top-pane;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
  /*background-color:  @light2 !important;*/
}



.btn-primary {
  background-color: @main-dark-color;
  &:hover{
  background-color: @dark-left-pane;
  }
  /*border-color: #367FA9;*/
}

/*-----forms buttons-----*/

.well {
/*  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;*/
  background-color: transparent;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.nav-tabs-custom > .tab-content {
 .box-style;

  /*padding: 30px 20px;*/
 /* padding: @padding-box-tb @padding-box-lr (@padding-box-tb - @space-between-blocks) @padding-box-lr;*/
}

.nav-tabs{
  border-bottom: none;
  z-index: 9999999;

}

.nav-tabs-custom > .nav-tabs{
  margin-left: 35px;
  margin-bottom: -1px;
}

.nav-tabs-custom > .nav-tabs > li.active {
  /*background-color: @dark-left-pane;
  color: #ffffff;*/


  border: 1px solid #e3e7eb;
  border-bottom: none;

  a{
    color: @text-color-main;
  }
}

.nav-tabs-custom > .nav-tabs > li > a {
 color: @text-color-main-no-active;
  &:hover{
    color: @text-color-main;
  }
}




.tab-content{
  .box-primary{

    box-shadow: none;
    /*background-color: #f0f5fa;*/

    border: 1px solid @light-border-on-white !important;
    padding: 0px;
  }

}
