<title>{% block title %}Welcome!{% endblock %}</title>

{% block body %}

    Название школы: <label>{{ org }}</label><br>
    <br>
    {% for i in 0..10 %}
        Класс {{ i+1 }}

        {% for key, value in alpha %}
            <input id="{{ i+1 }}" type="checkbox" name="class_{{ key+1 }}" value="class_{{ i+1 }}_{{ value }}">{{ value }}
        {% endfor %}
        <br>
    {% endfor %}
    <input type="button" value="Добавить" onclick="check()"/>
    <input type="button" value="Заполнить остальные поля по аналогии" onclick="completeAuto()">
    <input type="button" value="Снять все чекбоксы" onclick="unchecked()">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>

        function check() {
            var mass = [];
            $('input[type="checkbox"]:checked').each(function (i) {
                element = this.value;
                mass[i] = element;
            });

            $.ajax({
                url: '/group/{{ org }}',
                data: {
                    form: 'new',
                    massive: mass
                }
            });

            window.location.href = '/invite-group/{{ org }}'
        }

        function completeAuto() {
            $('input[type="checkbox"]:checked').each(function () {

                var name = this.name;
                $('input[name="' + name + '"]').prop('checked', true);

            });
        }

        function unchecked() {
            $('input[type="checkbox"]:checked').each(function () {

                var name = this.name;
                $('input[name="' + name + '"]').prop('checked', false);

            });
        }

    </script>
{% endblock %}
