<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/select2/select2.css') }}">
    <script src="{{ asset('bundles/sonatacore/vendor/select2/select2.js') }}"></script>

</head>
<body>
<form id="form">
    {% for key, value in group %}
        Укажите email администраторов групп для класса - {{ value }} : *
        <input style="width:300px;" class="js-example-tags" type="email" id="{{ value }}"><br>
        <script>
            $("#{{ value }}").select2({
                tags: [],
                tokenSeparators: [",", " "]
            });

        </script>
    {% endfor %}
    <input value="Отправить" type="button" onclick="sendEmails();">
</form>
<div id="div1">

</div>

<script>

    function sendEmails() {
        var i;

        {% for key, value in group %}
            if ($('#{{ value }}').val() === '')
                i = 1;
        {% endfor %}

        if (i != 1) {
            $.ajax({
                url: '/invite-group/{{ org }}',
                data: {
                    {% for key, value in group %}

                        class_{{ value }}: $('#{{ value }}').val(),

                    {% endfor %}
                    form: 'email'
                },
                success: function (data) {

                    if (data == 1) {
                        $("#div1").html('Вы ввели не корректные email. Проверьте правильность введенных данных').css('color', 'red');
                    }
                    else {
                        window.location.href = '/login';
                    }
                }
            });
        }
        else {
            $("#div1").html('Заполните обязательные поля').css('color', 'red');
        }
    }
</script>
</body>


