<title>{% block title %}Welcome!{% endblock %}</title>

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" value="Добавить" />
    {{ form_end(form) }}
{% endblock %}
