<html>
<head>
    <link href="{{ asset('bundles/sonatacore/vendor/jquery/dist/jquery.min.js') }}">
</head>
<body>
<table>
    <tr>
        <td width="700px">
            <form action="{{ path('app_registrationorganization_checklogin') }}" method="post">

                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ login }}" required="required"/>

                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required"/>

                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                {% if check == 'false' %}
                    <div>
                        <b style="color: red; display: block">Не верный логин или пароль</b>
                    </div>
                {% else %}
                    <div>
                        <b style="color: red; display: none"></b>
                    </div>
                {% endif %}

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
            </form>

        </td>
        <td>
            <form enctype="multipart/form-data" action="{{ path('app_registrationorganization_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                {% if check_pass == 'false' %}
                    <div>
                        <b style="color: red; display: block">Пароли не совпадают</b>
                    </div>
                {% endif %}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"/>
                </div>
            </form>

        </td>
    </tr>
</table>

</body>
</html>

