{{ "registration_invite.address_to_user"|trans({'%name%': fullName }) }}

{{ "registration_invite.email.invite_text"|trans }}
{% if organization is defined %}
    {{ "registration_invite.email.organization"|trans }}: "{{ organization }}"
    {% if not groups is empty %},{% endif %}
{% endif %}

{% for group in groups %}
    {{ "registration_invite.email.group"|trans }}: "{{ group }}"
    {% if not loop.last %},{% endif %}
{% endfor %}

{{ "registration_invite.email.link_text"|trans }}
{% set url_link = admin.generateUrl('invite', {'token': token}, 0) %}
{{ url_link }}.

{{ "registration_invite.email.thanks"|trans }}
