<h3>{{ "registration_invite.address_to_user"|trans({'%name%': fullName }) }}</h3>

<p>
    {{ "registration_invite.email.invite_text"|trans }}
    <br>
    {% if organization is defined %}
        {{ "registration_invite.email.organization"|trans }}: <b>"{{ organization }}"</b>
        {% if not groups is empty %},<br>{% endif %}
    {% endif %}
    {% for group in groups %}
        {{ "registration_invite.email.group"|trans }}: <b>"{{ group }}"</b>
        {% if not loop.last %},<br>{% endif %}
    {% endfor %}
</p>
<p>
    {{ "registration_invite.email.link_text"|trans }}
    <br>
    {% set url_link = admin.generateUrl('invite', {'token': token}, 0) %}
    <a href="{{ url_link }}">{{ url_link }}</a>.
</p>
<p>{{ "registration_invite.email.thanks"|trans }}</p>
<br>
<img src="{{ absolute_url(asset('app/images/logo.png')) }}">
