{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% for object in admin.datagrid.results %}
    {% set id = object.id %}
    {% for key, check in admin.datagrid.values %}
        {% set idMessage = key %}
        {% if id == idMessage %}
            {% if check.value == 1 %}
                <tr style="background-color: #ffdbcb">
                    {% include admin.getTemplate('inner_list_row') %}
                </tr>
            {% else %}
                <tr style="background-color: #cdffd2">
                    {% include admin.getTemplate('inner_list_row') %}
                </tr>
            {% endif %}

        {% endif %}
    {% endfor %}

{% endfor %}
