{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table %}
  {% set tab_header = null %}
  {% for field_description in admin.list.elements %}
    {% if (field_description.getOption('tab_header')) == true %}
      {% set tab_header = field_description %}
    {% endif %}
  {% endfor %}
  <div class="container">
    <ul class="nav nav-pills">
      {% for object in admin.datagrid.results %}
        <li {% if active_tab is not defined %}class="active" {% set active_tab = true %}{% endif %}>
          <a data-toggle="pill" href="#tab{{object.id}}"> {{ object|render_list_element(tab_header) }} </a>
        </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for object in admin.datagrid.results %}
        <div id="tab{{object.id}}" class="tab-pane fade{% if active_content is not defined %} in active{% set active_content = true %}{% endif %}">
        <table style="width:100%">
          {% for field_description in admin.list.elements %}
            {% if field_description.name == '_action' and app.request.isXmlHttpRequest %}
            {% elseif field_description.getOption('ajax_hidden') == true and app.request.isXmlHttpRequest %}
            {% else %}
              <tr>
              <td> {{ field_description.fieldName }} </td>
              <td> {{ object|render_list_element(field_description) }} </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
