<script type="text/javascript">
    jQuery(document).ready(function () {
        var inputElem = $("#{{ admin.uniqid }}_all_elements");
        if (inputElem.length === 1) {
            var labelElem = inputElem.parentsUntil('label');
            if (labelElem.length > 0) {
                labelElem = labelElem.last().parent();
            } else {
                labelElem = inputElem.parent();
            }
            var oldText = labelElem.contents().last().text();
            var fstIndex = oldText.lastIndexOf('(');
            var lstIndex = oldText.lastIndexOf(')');
            if ((fstIndex >= 0) && (lstIndex > fstIndex)) {
                var newText = oldText.slice(0, fstIndex + 1) +
                        '{{ newBatchQuantity }}' + oldText.slice(lstIndex);
                labelElem.contents().last().remove();
                labelElem.append(newText);
            }
        }
    });
</script>
