{% block dialogHTML %}
    <div class="modal fade" id="{%- block dialogID -%}modalDialogID{%- block tag '' -%}{%- endblock -%}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header {% block dialogHeaderClass 'bg-info' %}">
                    {% block dialogHeader %}
                        <button type="button" class="close modal-dlg-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endblock %}
                    <h4 class="modal-title {% block dialogHeaderTextClass 'text-info' %}">{%- block dialogHeaderText '' -%}</h4>
                </div>
                <div class="modal-body">
                    {% block dialogBoby %}
                        <p id="{%- block dialogTextID -%}modalDialogTextID{{- block('tag') -}}{%- endblock -%}"></p>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block dialogButtons %}
                        <button type="button" data-dismiss="modal"
                                class="btn modal-dlg-btn {% block dialogNoButtonClass 'btn-default' %}"
                                id="{%- block dialogNoButtonID -%}modalDialogNoButtonID{{- block('tag') -}}{%- endblock -%}"
                                style="{%- block dialogNoButtonStyle 'width: 100px;' -%}"
                        >{%- block dialogNoButtonText 'no'|trans -%}</button>
                        <button type="button"
                                class="btn modal-dlg-btn {% block dialogYesButtonClass 'btn-primary' %}"
                                id="{%- block dialogYesButtonID -%}modalDialogYesButtonID{{- block('tag') -}}{%- endblock -%}"
                                style="{%- block dialogYesButtonStyle 'width: 100px;' -%}"
                        >{%- block dialogYesButtonText 'yes'|trans -%}</button>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block dialogScript %}
    <script type="text/javascript">
        function {{- ' ' }}{%- block dialogDisableFunction -%}disableDialogFunctionality{{- block('tag') -}}{%- endblock -%}() {
            $(document.body).css('cursor', 'wait');
            $('button.modal-dlg-btn').prop('disabled', true);
        }

        function {{- ' ' }}{%- block dialogShowFunctionName -%}showDialog{{- block('tag') -}}{%- endblock -%}(obj, text) {
            {% block dialogShowFunctionBody %}
            {# If the text is skipped then set the default value for it. #}
            text = typeof text !== 'undefined' ? text : '{%- block dialogText "" -%}';
            var parameter;
            for (var i = 0; i < 1000; ++i) {
                parameter = $(obj).data('parameter' + i);
                if (parameter) {
                    text = text.replace('%__parameter' + i + '__%', parameter);
                } else {
                    break;
                }
            }
            $("#{{- block('dialogTextID') -}}").html(text);
            $("#{{- block('dialogID') -}}").modal('show');
            $("#{{- block('dialogNoButtonID') -}}").off('click').click(function () {
                {% block dialogNoScript '' %}
            });
            $("#{{- block('dialogYesButtonID') -}}").off('click').click(function () {
                {{ block('dialogDisableFunction') }}();
                {% block dialogYesScript %}
                document.location = $(obj).data('href');
                {% endblock %}
            });
            {% endblock dialogShowFunctionBody %}
        }
    </script>
{% endblock %}
