{% extends ':Admin:modal_dialog.html.twig' %}

{%- block tag 'Delete' -%}
{%- block dialogHeaderTextClass 'text-danger' -%}
{%- block dialogHeaderClass 'bg-danger' -%}
{% block dialogYesButtonText %}
    <i class="fa fa-times"></i>{% block dialogDeleteButtonText '' %}
{% endblock %}
{%- block dialogNoButtonStyle 'width: 120px;' -%}
{%- block dialogYesButtonStyle 'width: 120px;' -%}
{%- block dialogYesButtonClass 'btn-danger' -%}
{% block dialogBoby %}
    {{ parent() }}
    <form method="POST" id="delete-form">
        {% block deleteForm %}
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_sonata_csrf_token"
                   value="{{ render(controller('AppBundle:Csrf:deleteToken')) }}">
        {% endblock %}
    </form>
{% endblock %}
{% block dialogYesScript %}
    $('#delete-form').prop('action', $(obj).data('href')).submit();
{% endblock %}
