{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview              = block('preview') %}
{% set _form                 = block('form') %}
{% set _show                 = block('show') %}
{% set _list_table           = block('list_table') %}
{% set _list_filters         = block('list_filters') %}
{% set _tab_menu             = block('tab_menu') %}
{% set _content              = block('content') %}
{% set _title                = block('title') %}
{% set _breadcrumb           = block('breadcrumb') %}
{% set _actions              = block('actions') %}
{% set _navbar_title         = block('navbar_title') %}
{% set _list_filters_actions = block('list_filters_actions') %}

<!DOCTYPE html>
<html {% block html_attributes %}class="no-js"{% endblock %}>
<head>
    {% block meta_tags %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {% endblock %}

    {% block stylesheets %}
        {% if admin_pool is defined %}
            {% for stylesheet in admin_pool.getOption('stylesheets', []) %}
                <link rel="stylesheet" href="{{ asset(stylesheet) }}">
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block javascripts %}
        <script>
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };

            // http://getbootstrap.com/getting-started/#support-ie10-width
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style');
                msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
                document.querySelector('head').appendChild(msViewportStyle);
            }
        </script>

        {% if admin_pool is defined %}
        {% for javascript in admin_pool.getOption('javascripts', []) %}
        <script src="{{ asset(javascript) }}"></script>
        {% endfor %}

        <script>
            jQuery(document).ready(function () {
                jQuery.datepicker.setDefaults(jQuery.datepicker.regional['']);
                jQuery('.datepicker').datepicker({language: 'ru', pickSeconds: true});
                jQuery('.datetimepicker').datetimepicker({
                    language: 'ru',
                    pickSeconds: true,
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
            });
        </script>

        {% endif %}

        {% set locale = app.request.locale %}
        {# localize moment #}
        {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}

        {# localize select2 #}
        {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
        {% endif %}
        <script src="{{ asset('app/js/global.js') }}"></script>
    {% endblock %}

    <title>
        {% block sonata_head_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first %}
                            {% if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </title>
</head>
<body {% block body_attributes %}class="sonata-bc skin-black fixed"{% endblock %}>

<div class="modal fade" id="global-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px;">{{ "no"|trans }}</button>
                <button type="button" class="btn btn-primary btn-yes" style="width: 100px;">{{ "yes"|trans }}</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    {% block sonata_header %}
        <header class="main-header">
            {% block sonata_header_noscript_warning %}
                <noscript>
                    <div class="noscript-warning">
                        {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
                    </div>
                </noscript>
            {% endblock %}
            {#{% block logo %}
                {% if admin_pool is defined %}
                    {% spaceless %}
                        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                            {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                                <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                            {% endif %}
                            {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                                <span>{{ admin_pool.title }}</span>
                            {% endif %}
                        </a>
                    {% endspaceless %}
                {% endif %}
            {% endblock %}#}
            {% block sonata_nav %}
                {% if admin_pool is defined %}
                    <nav class="navbar navbar-static-top" role="navigation">
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>

                            <img src="/app/images/icon-menu.png" title="Главное меню">
                        </a>

                        {% block logo %}
                            {% if admin_pool is defined %}
                                {% spaceless %}
                                    <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                                        {#{% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                                            <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                                        {% endif %}#}

                                        <img src="/app/images/logo.png" alt="" title="На главную">

                                        {#{% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                                            <span>{{ admin_pool.title }}</span>
                                        {% endif %}#}
                                    </a>
                                {% endspaceless %}
                            {% endif %}
                        {% endblock %}




                        {#----added-----#}
                        <section class="content">

                            <div class="row">

                                {% block sonata_sidebar_search %}
                                    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                        <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                                            <div class="input-group custom-search-form">
                                                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-flat" type="submit">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    {% endif %}
                                {% endblock sonata_sidebar_search %}

                            </div>

                        </section>

                        {#------end added------#}

                        {#  <div class="navbar-left">
                              {% block sonata_breadcrumb %}
                                  <div class="hidden-xs">
                                      {% if _breadcrumb is not empty or action is defined %}
                                          <ol class="nav navbar-top-links breadcrumb">
                                              {% if _breadcrumb is empty %}
                                                  {% if action is defined %}
                                                      {% for menu in admin.breadcrumbs(action) %}
                                                          {% if not loop.last  %}
                                                              <li>
                                                                  {% if menu.uri is not empty %}
                                                                      <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                                  {% else %}
                                                                      {{ menu.label }}
                                                                  {% endif %}
                                                              </li>
                                                          {% else %}
                                                              <li class="active"><span>{{ menu.label }}</span></li>
                                                          {% endif %}
                                                      {% endfor %}
                                                  {% endif %}
                                              {% else %}
                                                  {{ _breadcrumb|raw }}
                                              {% endif %}
                                          </ol>
                                      {% endif %}
                                  </div>
                              {% endblock sonata_breadcrumb %}
                          </div>#}

                        {% block sonata_top_nav_menu %}
                            <div class="navbar-custom-menu" id="top-custom-menu">
                                <ul class="nav navbar-nav">
                                    {#<li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                                        </a>
                                        {% include admin_pool.getTemplate('add_block') %}
                                    </li>#}
                                    {# ---added-----#}

                                    <li class="dropdown user-menu ">
                                        <a class="dropdown-toggle  top-info" href="{{ path('user_topics_list') }}">
                                            <span style="width: 20px" type="text" id="message-count-topic"></span>
                                            {#<i class="fa fa-envelope-o fa-fw"></i>  <!--<i class="fa fa-caret-down"></i>-->#}
                                            <img src="/app/images/icon-mail.png" title="Cообщения">

                                            {#<span>123</span>#}
                                        </a>

                                    </li>

                                    <li class="dropdown user-menu ">
                                        <a class="dropdown-toggle  top-info" href={{ path('user_groups_list') }}>

                                            {#<i class="fa fa-users fa-fw"></i>  <!--<i class="fa fa-caret-down"></i>-->#}
                                            <img src="/app/images/icon-group.png" title="Группы">

                                            {#<span>13</span>#}
                                        </a>

                                    </li>

                                    <li class="dropdown user-menu ">
                                        <a class="dropdown-toggle  top-info" href={{ path('personal_message_list') }}>
                                            <span style="width: 20px" type="text" id="message-count"></span>
                                            <img src="/app/images/icon-private.png" title="Личные сообщения">

                                            {#<i class="fa fa-key fa-fw"></i>#} <!--<i class="fa fa-caret-down"></i>-->

                                            {#<span class="span-attention">12345677</span>#}
                                        </a>

                                    </li>

                                    <li class="dropdown user-menu ">
                                        <a class="dropdown-toggle  top-info" href="{{ path('my_calendar_list') }}">
                                            <img src="/app/images/icon-calendar.png" title="Календарь">

                                            {#<i class="fa fa-clock-o fa-fw"></i>#}
                                            <!--<i class="fa fa-caret-down"></i>-->
                                            {#<span>1233</span>#}
                                        </a>

                                    </li>

                                    <li class="dropdown user-menu ">
                                        <a class="dropdown-toggle  top-info" data-toggle="dropdown" href="#">

                                            {#<i class="fa fa-support fa-fw"></i> #}
                                            <!--<i class="fa fa-caret-down"></i>-->
                                            <img src="/app/images/icon-help.png" title="Справка">

                                        </a>

                                    </li>

                                    {#-----end added -------#}
                                    <li class="dropdown user-menu">
                                        <a class="dropdown-toggle top-info" href="{{ path('profile_list') }}">
                                            {# <i class="fa fa-user fa-fw"></i> #}{#<i class="fa fa-caret-down"></i>#}
                                            <div class="div-user-name">
                                                [{{ app.user.id }}]&nbsp;{{ app.user.fullName }}
                                                <div class="label label-danger" style="font-size: 0.5em;">
                                                    {% if constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_ADMIN') in app.user.roles %}
                                                        {{ constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_ADMIN') }}
                                                    {% elseif constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') in app.user.roles %}
                                                        {{ constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') }}
                                                    {% elseif constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_USER') in app.user.roles %}
                                                        {{ constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_USER') }}
                                                    {% elseif constant('AppBundle\\Entity\\Role::ROLE_GROUP_USER') in app.user.roles %}
                                                        {{ constant('AppBundle\\Entity\\Role::ROLE_GROUP_USER') }}
                                                    {% elseif 'ROLE_SYSTEM_ADMIN' in app.user.roles %}
                                                        ROLE_SYSTEM_ADMIN
                                                    {% elseif 'ROLE_USER' in app.user.roles %}
                                                        ROLE_USER
                                                    {% else %}
                                                        WARNING! UNREGISTERED!
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <img style="vertical-align: 5px;" src="{{ asset(app.user.profilePictureAbsolutePath) }}" title="Профиль" alt="Профиль" class="img-circle">
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            {% include admin_pool.getTemplate('user_block') %}
                                        </ul>
                                    </li>

                                    <li class="user-menu " id="top-exit">

                                        {#<a  class="btn btn-default <!--btn-flat-->">#}
                                        <a href="{{ path('fos_user_security_logout') }}" class="top-info">

                                            {#<i class="fa fa-power-off fa-fw"></i> #}
                                            <!--<i class="fa fa-caret-down"></i>-->
                                            <img src="/app/images/icon-exit.png" title="{{ 'exit'|trans }}">

                                        </a>

                                    </li>

                                </ul>
                            </div>
                        {% endblock %}
                    </nav>
                {% endif %}
            {% endblock sonata_nav %}
        </header>
    {% endblock sonata_header %}

    {% block sonata_wrapper %}
        {% block sonata_left_side %}
            <aside class="main-sidebar">
                <section class="sidebar">
                    {% block sonata_side_nav %}
                        <p style="margin-left: 10px"><b>Текущая организация пользователя:</b></p>
                        <div style="margin-left: 20px; color: #1976d2;">
                            {% set i = 0 %}
                            {% set currentOrg = app.user.userCurrentOrganization %}
                            {% for app in app.user.adminOrganizationsName %}
                                {% set i = i + 1 %}
                            {% endfor %}
                            {% if (i > 1) %}
                                <select id='organization'>
                                    {% if app.user.adminOrganizationsName != null %}
                                        {% for app in app.user.adminOrganizationsName %}
                                            {% if (app ==  currentOrg) %}
                                                <option value="{{ app }}" selected="selected">{{ app }}</option>
                                            {% else %}
                                                <option>{{ app }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <option>{{ currentOrg }}</option>
                                    {% endif %}
                                </select>
                            {% else %}

                                <span id="spanOrganization">{{ currentOrg }}</span>
                            {% endif %}
                        </div>
                        <br>

                        {# {% block sonata_sidebar_search %}
                             {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                 <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                                     <div class="input-group custom-search-form">
                                         <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                             <span class="input-group-btn">
                                                 <button class="btn btn-flat" type="submit">
                                                     <i class="fa fa-search"></i>
                                                 </button>
                                             </span>
                                     </div>
                                 </form>
                             {% endif %}
                         {% endblock sonata_sidebar_search %}#}




                        {% block side_bar_before_nav %} {% endblock %}
                        {% block side_bar_nav %}
                            {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
                                {{ knp_menu_render('sonata_admin_sidebar', {template: admin_pool.getTemplate('knp_menu_template')}) }}
                            {% endif %}
                        {% endblock side_bar_nav %}
                        {% block side_bar_after_nav %}
                            {#<p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px"><a href="https://sonata-project.org" rel="noreferrer" target="_blank">sonata project</a></p>#}

                            <p class="text-center small" style=" padding-top: 40px">
                                <a href="http://www.aristeksystems.com" rel="noreferrer" target="_blank">Разработано
                                    "Аристек Системс"</a></p>
                        {% endblock %}
                    {% endblock sonata_side_nav %}
                </section>
            </aside>
        {% endblock sonata_left_side %}

        <div class="content-wrapper">
            {% block sonata_page_content %}
                <section class="content-header">

                    {% block sonata_page_content_header %}
                        {% block sonata_page_content_nav %}
                            {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                        {% block tab_menu_navbar_header %}
                                            {% if _navbar_title is not empty %}
                                                <div class="navbar-header">
                                                    <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                                                </div>
                                            {% endif %}
                                        {% endblock %}

                                        <div class="navbar-collapse">
                                            <div class="navbar-left">

                                                {#---added----#}
                                                {% block sonata_breadcrumb %}
                                                    <div class="hidden-xs">
                                                        {% if _breadcrumb is not empty or action is defined %}
                                                            <ol class="nav navbar-top-links breadcrumb">
                                                                {% if _breadcrumb is empty %}
                                                                    {% if action is defined %}
                                                                        {% for menu in admin.breadcrumbs(action) %}
                                                                            {% if not loop.last %}
                                                                                <li>
                                                                                    {% if menu.uri is not empty %}
                                                                                        <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                                                    {% else %}
                                                                                        {{ menu.label }}
                                                                                    {% endif %}
                                                                                </li>
                                                                            {% else %}
                                                                                <li class="active">
                                                                                    <span>{{ menu.label }}</span></li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {{ _breadcrumb|raw }}
                                                                {% endif %}
                                                            </ol>
                                                        {% endif %}
                                                    </div>
                                                {% endblock sonata_breadcrumb %}

                                                {#----end added-----#}




                                                {% if _tab_menu is not empty %}
                                                    {{ _tab_menu|raw }}
                                                {% endif %}
                                            </div>

                                            {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                                <div class="nav navbar-right {#btn-group#} btn-round">
                                                    {% for mode, settings in admin.listModes %}
                                                        <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                <ul class="nav navbar-nav navbar-right" id="actions">
                                                    <li class="dropdown sonata-actions">
                                                        <ul class="dropdown-menu" role="menu">
                                                            {{ _actions|raw }}
                                                        </ul>

                                                        <a id="toggle-actions" href="#" class="dropdown-toggle" data-toggle="dropdown">{#{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b>#}{#<i class="fa fa-plus"></i>#}
                                                            <img src="/app/images/icon-additional.png" title="Дополнительно..."></a>
                                                        {#<ul class="dropdown-menu" role="menu">
                                                            {{ _actions|raw }}
                                                        </ul>#}
                                                    </li>
                                                </ul>
                                            {% endif %}

                                            {% if _list_filters_actions is not empty %}
                                                {{ _list_filters_actions|raw }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </nav>
                            {% endif %}
                        {% endblock sonata_page_content_nav %}
                    {% endblock sonata_page_content_header %}
                </section>

                <section class="content">
                    {% block sonata_admin_content %}

                        {% block notice %}
                            {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                        {% endblock notice %}

                        {% if _preview is not empty %}
                            <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                        {% endif %}

                        {% if _content is not empty %}
                            <div class="sonata-ba-content">{{ _content|raw }}</div>
                        {% endif %}

                        {% if _show is not empty %}
                            <div class="sonata-ba-show">{{ _show|raw }}</div>
                        {% endif %}

                        {% if _form is not empty %}
                            <div class="sonata-ba-form">{{ _form|raw }}</div>
                        {% endif %}

                        {% if _list_table is not empty or _list_filters is not empty %}
                            {% if _list_filters|trim %}
                                <div class="row">
                                    {{ _list_filters|raw }}
                                </div>
                            {% endif %}

                            <div class="row">
                                {{ _list_table|raw }}
                            </div>

                        {% endif %}
                    {% endblock sonata_admin_content %}
                </section>
            {% endblock sonata_page_content %}
        </div>
    {% endblock sonata_wrapper %}
</div>

{% if admin_pool is defined and admin_pool.getOption('use_bootlint') %}
    {% block bootlint %}
        {# Bootlint - https://github.com/twbs/bootlint#in-the-browser #}
        <script type="text/javascript">
            javascript:(function () {
                var s = document.createElement("script");
                s.onload = function () {
                    bootlint.showLintReportForCurrentDocument([], {hasProblems: false, problemFree: false});
                };
                s.src = "https://maxcdn.bootstrapcdn.com/bootlint/latest/bootlint.min.js";
                document.body.appendChild(s)
            })();
        </script>

    {% endblock %}
{% endif %}

</body>
</html>
<script type="text/javascript">
    $('#organization').change(function () {
        var organization = document.getElementById('organization').value;
        $.ajax({
            url: '/organization',
            data: {
                organization: organization
            }
        });

        location.reload();

    });

    $(document).ready(function() {

        var organization;

        if ($('#organization').val() == undefined) {
            organization = $('#spanOrganization').html()
        }
        else {
            organization = $('#organization').val();
        }
        $.ajax({
            url: '/count-messages',
            data : {
                organization: organization
            },
            success: function (doc) {
                $(doc).each(function () {
                    if ($(this).attr('count') != '') {
                        $("#message-count").text($(this).attr('count'));
                    }
                    else {
                        $("#message-count").css('display', 'none');
                    }
                })
            }
        });

        $.ajax({
            url: '/count-topic-message',
            data: {
                organization: organization
            },
            success: function (doc) {
                $(doc).each(function () {
                    if ($(this).attr('count') != '') {
                        $("#message-count-topic").text($(this).attr('count'));
                    }
                    else {
                        $("#message-count-topic").css('display', 'none');
                    }
                })
            }
        });
    });
</script>

