{% embed '::Admin/CRUD/base_show.html.twig' %}
    {% block show %}
        <div class="sonata-ba-view row">

            {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

            {% for name, view_group in admin.showgroups %}
                <div class="{{ view_group.class | default('col-md-12') }}">
                    <div class="{{ view_group.box_class }}">
                        {% if name %}
                            <div class="box-header with-border">
                                <h4 class="box-title">
                                    {% block show_title %}
                                        {{ admin.trans(name) }}
                                    {% endblock %}
                                </h4>
                            </div>
                        {% endif %}
                        {% if view_group.template is defined %}
                            {% include view_group.template %}
                        {% else %}
                            <div class="box-body table-responsive no-padding">
                                <table class="table">
                                    <tbody>
                                    {% for field_name in view_group.fields %}
                                        {% block show_field %}
                                            <tr class="sonata-ba-view-container">
                                                {% if elements[field_name] is defined %}
                                                    {{ elements[field_name]|render_view_element(object) }}
                                                {% endif %}
                                            </tr>
                                        {% endblock %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

        </div>
    {% endblock %}
{% endembed %}
