<html>
<head>
    <link href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.css" rel="stylesheet"/>
    <link href="{{ asset('app/css/fullcalendar.print.css') }}" rel="stylesheet"/>

</head>
<style>
    .modal-backdrop, .modal-backdrop.fade.in {
        opacity: 0.1;
    }

</style>
</html>
{% embed '::Admin/CRUD/base_list.html.twig' %}
    {% block actions %}
        {% spaceless %}
            {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
                {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
                    {% if admin.subClasses is empty %}
                        <a class="sonata-action-element" href="#" onclick="clickFunc(1)">
                            <span> {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</span>

                            <img src="/app/images/icon-plus.png" title="Создать" class="rbtn rbtn-create">
                        </a>
                    {% else %}
                        <li class="divider" role="presentation"></li>
                        {% for subclass in admin.subclasses|keys %}
                            <li>
                                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                                    <i class="fa fa-plus-circle"></i>
                                    {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }} {{ subclass|trans({}, admin.translationdomain) }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="divider" role="presentation"></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endspaceless %}
    {% endblock %}
    {% block list_table %}
        <tbody>
        <div class="container" style="background-color: white;">
            <h1>Календарь событий</h1>
            <div id='calendar' style="height: 100%; background: none"></div>
        </div>
        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" style="box-shadow: 0 3px 7px rgba(0, 0, 0, 0.0); background: none; border: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="box-header">
                        <button class="close" type="button" data-dismiss="modal">x</button>
                        <h4 class="modal-title" id="myModalLabel">Событие</h4>
                    </div>
                    <div class="modal-body" style="max-height: 600px">
                        <h3 class="box-header">Создание нового события</h3>
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Название события</label>
                                <input required type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-description" class="control-label">Описание события</label>
                                <textarea required class="form-control" id="message-description"></textarea>
                            </div>
                            <div style="display: none" class="form-group">
                                <label for="message-group1" class="control-label">Группа</label>
                                <select class="selectpicker form-control" id="message-group1">
                                </select>
                            </div>
                            <div id="div-group" class="form-group">
                                <label for="message-group" class="control-label">Группа</label>
                                <select multiple="multiple" class="selectpicker form-control" id="message-group">
                                    <option value="Не выбрано">Не выбрано</option>
                                </select>
                            </div>
                            <label style="display: none" id="label-group-edit" for="recipient-edit-group" class="control-label">Группа</label>
                            <input style="display:none;" readonly type="text" class="form-control" id="recipient-edit-group">
                            <div id="div-type" class="form-group">
                                <label for="message-type" class="control-label">Тип события</label>
                                <select required class="selectpicker form-control" id="message-type">
                                </select>
                            </div>
                            <label style="display: none" id="label-type-edit" for="recipient-edit-type" class="control-label">Тип
                                события</label>
                            <input style="display:none;" readonly type="text" class="form-control" id="recipient-edit-type">
                            <div class="form-group">
                                <label for="message-date-start" class="control-label">Дата начала:</label>
                                <div class="well" style="margin-bottom: 0px;padding: 0px;">
                                    <div id="message-date-start-div" class="input-append" style="float: left">
                                        <input class="form-control" id="message-date-start" data-format="dd.mm.yyyy" type="text">
                                            <span class="add-on">
                                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                              </i>
                                            </span>
                                    </div>

                                    <script type="text/javascript">
                                        $(function () {
                                            $('#message-date-start-div').datetimepicker({
                                                pickTime: false,
                                                language: 'ru'
                                            });
                                        });
                                    </script>

                                    <div id="message-date-start-time-div" class="input-append">
                                        <input style="width: 20%" class="form-control" id="message-date-start-time" data-format="hh:mm" type="text">
                                            <span class="add-on">
                                              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#message-date-start-time-div').datetimepicker({
                                            pickDate: false,
                                            language: 'ru'
                                        });
                                    });
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="message-date-end" class="control-label">Дата окончания:</label>
                                <div class="well" style="margin-bottom: 0px;padding: 0px;">
                                    <div id="message-date-end-div" class="input-append" style="float: left">
                                        <input class="form-control" id="message-date-end" data-format="dd.mm.yyyy" type="text">
                                            <span class="add-on">
                                              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                              </i>
                                            </span>
                                    </div>

                                    <script type="text/javascript">
                                        $(function () {
                                            $('#message-date-end-div').datetimepicker({
                                                pickTime: false,
                                                language: 'ru'
                                            });
                                        });
                                    </script>

                                    <div id="message-date-end-time-div" class="input-append">
                                        <input style="width: 20%" class="form-control" id="message-date-end-time" data-format="hh:mm" type="text">
                                            <span class="add-on">
                                              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#message-date-end-time-div').datetimepicker({
                                            pickDate: false,
                                            language: 'ru'
                                        });
                                    });
                                </script>
                            </div>
                            <div id="check" class="form-group">
                                <label for="message-check" class="control-label">Весь день:</label>
                                <input type="checkbox" class="form-control" id="message-check">
                            </div>
                            <div>
                                <input type="hidden" id="hidden-name" value="">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" id="exit" type="button" data-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary" id="save-event" type="button">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" style="display: none" id="click" data-toggle="modal"
           data-target="#basicModal">Открыть модальное окно</a>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/calendar-type-list',
                    success: function (type) {
                        for (index = 0; index < type.length; ++index) {
                            if (type[index] == 'S') {
                                $("#message-type").prepend($('<option value="' + type[index] + '">Спортивное мероприятие</option>'));
                            }
                            else if (type[index] == 'C') {
                                $("#message-type").prepend($('<option value="' + type[index] + '">Классное мероприятие</option>'));
                            }
                            else if (type[index] == 'E') {
                                $("#message-type").prepend($('<option value="' + type[index] + '">Школьное мероприятие</option>'));
                            }
                        }
                    }
                });
                var organization;

                if ($('#organization').val() == undefined) {
                    organization = $('#spanOrganization').html()
                }
                else {
                    organization = $('#organization').val();
                }
                $.ajax({
                    url: '/calendar-group-list',
                    data: {
                        organization: organization
                    },
                    success: function (data) {
                        $.each(data, function (index, element) {
                            $("#message-group").prepend($('<option value="' + element + '">' + element + '</option>'));
                        });
                    }
                });
            });
            $(function () {
                $('#calendar').fullCalendar({
                    locale: 'ru',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    editable: true,
                    events: function (start, end, timezone, callback) {

                        var organization;

                        if ($('#organization').val() == undefined) {
                            organization = $('#spanOrganization').html()
                        }
                        else {
                            organization = $('#organization').val();
                        }
                        $.ajax({
                            url: '/calendar',
                            data: {
                                start: start.unix(),
                                end: end.unix(),
                                organization: organization
                            },
                            success: function (doc) {
                                var events = [];
                                $(doc).each(function () {
                                    var allDay = $(this).attr('allDay');
                                    var checkAllDay;
                                    if (allDay == 1) {
                                        checkAllDay = true;
                                    }
                                    else {
                                        checkAllDay = false;
                                    }
                                    events.push({
                                        title: $(this).attr('title'),
                                        description: $(this).attr('description'),
                                        start: $(this).attr('start'),
                                        timeStart: $(this).attr('timeStart'),
                                        end: $(this).attr('end'),
                                        color: $(this).attr('color'),
                                        allDay: checkAllDay
                                    });
                                });
                                callback(events);
                            }
                        });
                    },
                    color: 'blue',
                    eventClick: function (calEvent) {
                        var organization;

                        if ($('#organization').val() == undefined) {
                            organization = $('#spanOrganization').html()
                        }
                        else {
                            organization = $('#organization').val();
                        }
                        clickFunc();
                        $.ajax({
                            url: '/calendar-edit',
                            data: {
                                title: calEvent.title,
                                organization: organization
                            },
                            success: function (doc) {
                                $(doc).each(function () {

                                    var type = $(this).attr('typeID');
                                    var group = $(this).attr('group');

                                    if ($(this).attr('allDay') == 1) {
                                        $(".icheckbox_square-blue").addClass("icheckbox_square-blue checked");
                                        $('#message-check').prop('checked', 'checked')
                                    }
                                    else {
                                        $('#check div').removeClass("icheckbox_square-blue checked").addClass("icheckbox_square-blue");
                                        $('#message-check').prop('checked', false)
                                    }
                                    if ($(this).attr('access') == 0) {
                                        $("#recipient-name").val($(this).attr('title')).prop('disabled', true);
                                        $("#message-description").val($(this).attr('description')).prop('disabled', true);
                                        $("#message-date-start").val($(this).attr('start')).prop('disabled', true);
                                        $("#message-date-start-time").val($(this).attr('timeStart')).prop('disabled', true);
                                        $("#message-date-end").val($(this).attr('end')).prop('disabled', true);
                                        $("#message-date-end-time").val($(this).attr('timeEnd')).prop('disabled', true);
                                        $("#hidden-name").val($(this).attr('title')).prop('disabled', true);
                                        $("#recipient-edit-group").val($(this).attr('group')).css('display', 'block');
                                        $("#recipient-edit-type").val($(this).attr('type')).css('display', 'block');
                                        $("#label-group-edit").css('display', 'block');
                                        $("#label-type-edit").css('display', 'block');
                                        $("#div-group").css('display', 'none');
                                        $("#div-type").css('display', 'none');
                                        $("#select2-chosen-3").text($(this).attr('type'));
                                        $("#select2-chosen-2").text($(this).attr('group'));
                                        $('#message-type option').prop('disabled', true);
                                        $('#message-group option').css('display', 'none');
                                        $('#save-event').prop('disabled', 'disabled');
                                    }
                                    else {
                                        $("#recipient-name").val($(this).attr('title'));
                                        $("#message-description").val($(this).attr('description'));
                                        $("#message-date-start").val($(this).attr('start'));
                                        $("#message-date-start-time").val($(this).attr('timeStart'));
                                        $("#message-date-end").val($(this).attr('end'));
                                        $("#message-date-end-time").val($(this).attr('timeEnd'));
                                        $("#hidden-name").val($(this).attr('title'));
                                        $("#s2id_message-group span.select2-chosen").text($(this).attr('group'));
                                        $("#s2id_message-type span.select2-chosen").text($(this).attr('type'));
                                        $(".select2-choices").prepend($('<li class="select2-search-choice"><div>' + $(this).attr('group') + '</div><a href="#" class="select2-search-choice-close" tabindex="-1"></a></li>'));
                                        $("#div-group").css('display', 'block');
                                        $("#div-type").css('display', 'block');
                                        $("#label-group-edit").css('display', 'none');
                                        $("#label-type-edit").css('display', 'none');
                                        $('#message-type option[value="' + type + '"').prop("selected", true);
                                        $('#message-group option[value="' + group + '"').prop("selected", true);
                                        $('#save-event').prop('disabled', false);
                                    }
                                });
                            }
                        });
                        $("#click").trigger('click');
                    },
                    dayClick: function (start) {
                        $.ajax({
                            url: '/calendar-form-date',
                            data: {
                                start: start.unix()
                            },
                            success: function (doc) {
                                $(doc).each(function () {
                                    $("#message-date-start").val($(this).attr('date'));
                                });
                            }
                        });
                        clickFunc();
                        $("#div-group").css('display', 'block');
                        $("#div-type").css('display', 'block');
                        $("#label-group-edit").css('display', 'none');
                        $("#label-type-edit").css('display', 'none');
                        $("#click").trigger('click');
                    }
                });
            });

            $(function () {
                $('#message-date-start').datetimepicker();
            });

            $(function () {
                $('#message-date-end').datetimepicker();
            });

            $('#save-event').on(
                    'click',
                    function (evt) {
                        var checked;
                        var organization;
                        if ($('#message-check').prop('checked')) {
                            checked = 1;
                        } else {
                            checked = 0;
                        }
                        if ($('#message-group').val() == 'Не выбрано') {
                            $('#message-group').val('');
                        }
                        if ($('#organization').val() == undefined) {
                            organization = $('#spanOrganization').html()
                        }
                        else {
                            organization = $('#organization').val()
                        }

                        $.ajax({
                            url: '/calendar-new',
                            data: {
                                title: $('#recipient-name').val(),
                                description: $('#message-description').val(),
                                start: $('#message-date-start').val(),
                                timeStart: $('#message-date-start-time').val(),
                                end: $('#message-date-end').val(),
                                timeEnd: $('#message-date-end-time').val(),
                                type: $('#message-type').val(),
                                fullDay: checked,
                                change: $('#hidden-name').val(),
                                organization: organization,
                                group: $('#message-group').val()
                            },
                            success: function (doc) {
                                location.reload();
                            }
                        });
                    }
            );

        </script>
        <script>
            function clickFunc(number) {
                $("#message-date-end").val('').prop('disabled', false);
                $("#message-date-start").val('').prop('disabled', false);
                $("#message-date-end-time").val('').prop('disabled', false);
                $("#message-date-start-time").val('').prop('disabled', false);
                $("#message-description").val('').prop('disabled', false);
                $("#recipient-name").val('').prop('disabled', false);
                $("#select2-chosen-2").text('');
                $("#select2-chosen-3").text('');
                $('#message-type option').prop('disabled', false);
                $('#message-group option').prop('disabled', false).css('display', 'block');
                $('#check div').removeClass("icheckbox_square-blue checked").addClass("icheckbox_square-blue");
                $('#message-check').prop('checked', false);
                $("#hidden-name").val('');
                $('#save-event').prop('disabled', false);
                $("#recipient-edit-group").val('').css('display', 'none');
                $("#recipient-edit-type").val('').css('display', 'none');
                $(".select2-choices li.select2-search-choice").remove();
                $("#message-group").val('');
                if (number == 1) {
                    $("#click").trigger('click');
                }
            }

        </script>

        <script class="cssdesk" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script class="cssdesk" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.js" type="text/javascript"></script>
        <script class="cssdesk" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/locale/ru.js" type="text/javascript"></script>
        <script>
            jQuery.curCSS = function (element, prop, val) {
                return jQuery(element).css(prop, val);
            };
        </script>
        <script>
            function displayElement() {
                $('.sonata-action-element').css('display', 'block');
            }

            function hideElement() {
                $('.sonata-action-element').css('display', 'none');
            }
        </script>

        {% if constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_ADMIN') in app.user.roles %}
            <script>displayElement();</script>
            {% elseif constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') in app.user.roles %}
            <script>displayElement();</script>
            {% elseif constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_USER') in app.user.roles %}
            <script>hideElement();</script>
            {% elseif constant('AppBundle\\Entity\\Role::ROLE_GROUP_USER') in app.user.roles %}
            <script>hideElement();</script>
            {% elseif 'ROLE_SYSTEM_ADMIN' in app.user.roles %}
            <script>displayElement()</script>
            {% elseif 'ROLE_USER' in app.user.roles %}
            <script>hideElement();</script>
        {% else %}
            <script>hideElement();</script>
        {% endif %}
        </tbody>
    {% endblock %}
{% endembed %}