{% embed '::Admin/CRUD/base_list.html.twig' %}
    {% block table_body %}
        <tbody>
            {% include admin.getTemplate('event_list_outer_rows_' ~ admin.getListMode()) %}
        </tbody>
    {% endblock %}
{% endembed %}
