<div class="container">
    <ul class="nav nav-pills">

        {% for field_name in view_group.fields %}
            <li {% if loop.first %} class="active" {% set active_tab = true %}{% endif %}>
                <a data-toggle="pill" href="#tab{{field_name}}">
                    {{ field_name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for field_name in view_group.fields %}

        <div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="tab{{field_name}}">
            <table style="width:50%">

                 {{ elements[field_name]|render_view_element(object) }}
{#

                <tr>
                    <td>
                        {{ elements['name']|render_view_element(object) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ elements['description']|render_view_element(object) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ elements['type']|render_view_element(object) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ elements['time_start']|render_view_element(object) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ elements['time_end']|render_view_element(object) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ elements['owner']|render_view_element(object) }}
                    </td>
                </tr>
#}

            </table>
        </div>
        {% endfor %}
    </div>
</div>
