{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
    {% endif %}
    <br>
    {% set dashboardUrl = path('sonata_admin_dashboard') %}
    <a href="{{ dashboardUrl }}">{{ 'registration.goto_dashboard'|trans({}, 'FOSUserBundle') }}</a>
{% endblock fos_user_content %}
