{% extends admin.getTemplate('base_list_field') %}

{% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
{% set xEditableType = 'select' %}

{% if isEditable %}
    {% block field_span_attributes %}
        {% spaceless %}
            class="xEditableSubtree label {{ value ? 'label-success' : 'label-danger' }}"
            id="{{- field_description.fieldName -}}Value{{- admin.id(object) -}}"
            data-source="[{value:'0-0',text:'{%- block noLabel 'no' -%}'},{value:'0-1',text:'{%- block noLabelDescendants 'no, descendants' -%}'},{value:'1-0',text:'{%- block yesLabel 'yes' -%}'},{value:'1-1',text:'{%- block yesLabelDescendants 'yes, descendants' -%}'}]"
            data-type="select"
            data-placement="auto"
            data-value="{{ value ? '1-0' : '0-0' }}"
            data-title="{{ field_description.label|trans({}, field_description.translationDomain) }}"
            data-pk="{{ admin.id(object) }}"
            data-url="{{ admin.generateObjectUrl('change-' ~ field_description.fieldName, object) }}"
        {% endspaceless %}
    {% endblock %}
{% endif %}

{% block field %}
    {% spaceless %}
        {%- set printableValue = (value ? 'yes' : 'no')|trans -%}
        {%- if isEditable -%}
            {{ printableValue }}
        {%- else -%}
            <span class="label {{ value ? 'label-success' : 'label-danger' }}"
            >{{ printableValue }}</span>
        {%- endif -%}
    {% endspaceless %}
{% endblock %}
