<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.xEditableSubtree').editable({
            display: function () {
                return false;
            },
            success: function (response) {
                var newValue = response.value ? '1-0' : '0-0';
                for (var i = 0; i < response.ids.length; i++) {
                    var $span = $('#' + response.fieldName + 'Value' + response.ids[i]);
                    if (response.value) {
                        $span.html("{{ 'yes'|trans }}");
                        $span.removeClass('label-danger').addClass('label-success');
                    } else {
                        $span.html("{{ 'no'|trans }}");
                        $span.removeClass('label-success').addClass('label-danger');
                    }
                    $span.editable('setValue', newValue);
                }
                return {'success': true, 'pk': response.pk, 'newValue': newValue};
            },
            error: function (response) {
                return 'ajax error: ' + response.status;
            }
        });
    });
</script>
