{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
        });
    </script>

    {% if token is defined %}
        {% include ':Admin/RegistrationInvite:colors.html.twig' %}
        {% set statuses = admin.getStatusesList() %}
        {% set types = admin.getTypesList() %}
        <style>
            {# This css class is used for the flash message of type "registrationInviteRepeat". #}
            .alert-registrationInviteRepeat {
                display: none;
            }

            td.width-control {
                width: 1px;
                white-space: nowrap;
            }

            tr.newInvite {
                font-weight: bold;
            }
        </style>

        <div class="modal fade" id="confirm-modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <button type="button" class="close invite-btn" id="confirm-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-info">{{ 'registration_invite.modal.title.general'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'registration_invite.address_to_user'|trans({'%name%': fullName}) }}</p>
                        <p id="text-modal">{{ 'registration_invite.modal.text.main'|trans }}</p>
                        <table class="table table-striped table-condensed">
                            <thead>
                            <tr class="text-info">
                                <th>{{ 'registration_invite.label.invitation_status'|trans }}</th>
                                <th>{{ 'registration_invite.label.invitation_type'|trans }}</th>
                                <th>{{ 'registration_invite.label.invitation_name'|trans }}</th>
                                <th class="invite-actions">
                                    {{ 'registration_invite.label.invitation_actions'|trans }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for invite in invites %}
                                <tr {{ invite['status'] is constant('AppBundle\\Entity\\RegistrationInvite::STATUS_NEW') ? 'class="newInvite"' }}
                                        id="objid-{{ invite['id'] }}">
                                    <td
                                        {% if invite['status'] is constant('AppBundle\\Entity\\RegistrationInvite::STATUS_ACCEPTED') %}
                                            class="width-control status-accepted"
                                        {% elseif invite['status'] is constant('AppBundle\\Entity\\RegistrationInvite::STATUS_DECLINED') %}
                                            class="width-control status-declined"
                                        {% else %}
                                            class="width-control"
                                        {% endif %}
                                    >{{ statuses[invite['status']]|trans }}</td>
                                    <td class="width-control">{{ types[invite['organization_group_type']]|trans }}</td>
                                    <td>{{ invite['name'] }}</td>
                                    <td class="width-control invite-actions">
                                        {% if invite['status'] is constant('AppBundle\\Entity\\RegistrationInvite::STATUS_NEW') %}
                                            <a class="btn btn-sm btn-success invite-btn"
                                               data-href="{{ admin.generateUrl('accept', {'id': invite['id']}) }}"
                                               onclick="onActionButtonClick(this);">
                                                {{ 'accept'|trans }}
                                            </a>
                                            <a class="btn btn-sm btn-danger invite-btn"
                                               data-href="{{ admin.generateUrl('decline', {'id': invite['id']}) }}"
                                               onclick="onActionButtonClick(this);">
                                                {{ 'decline'|trans }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <hr/>
                        <a href="{{ admin.generateUrl('list') }}">{{ 'registration_invite.modal.text.link'|trans }}</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success invite-btn" id="confirm-accept-all" style="width: 150px;">{{ "accept_all"|trans }}</button>
                        <button type="button" class="btn btn-danger invite-btn" id="confirm-decline-all" style="width: 150px;">{{ "decline_all"|trans }}</button>
                        <button type="button" class="btn btn-info invite-btn" id="confirm-no" data-dismiss="modal" style="width: 150px;">{{ "close"|trans }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var inAjax = 0;
            function onActionButtonClick(obj) {
                var parentTD = $(obj).parent();
                parentTD.find('a').attr('disabled', true);
                $(document.body).css('cursor', 'wait');
                inAjax++;
                $.ajax({
                    url: $(obj).attr('data-href'),
                    type: 'GET',
                    dataType: 'json',
                    error: function () {
                        console.error('Registration invite processing ajax error!');
                        inAjax--;
                        if (0 === inAjax) {
                            $(document.body).css('cursor', '');
                        }
                    },
                    success: function (response) {
                        {# response = {'id', 'status_text', 'status_code'} #}
                        parentTD.empty();
                        var TR = $('#objid-' + response.id);
                        TR.removeClass('newInvite');
                        var statusTD = TR.find("td:first-child");
                        statusTD.html(response.status_text);
                        if (response.status_code === "{{- constant('AppBundle\\Entity\\RegistrationInvite::STATUS_ACCEPTED') -}}") {
                            statusTD.addClass('status-accepted');
                        }
                        else if (response.status_code === "{{- constant('AppBundle\\Entity\\RegistrationInvite::STATUS_DECLINED') -}}") {
                            statusTD.addClass('status-declined');
                        }
                        if (0 === $('a.invite-btn').length) {
                            $('#confirm-accept-all').prop('disabled', true);
                            $('#confirm-decline-all').prop('disabled', true);
                            $('.invite-actions').remove();
                        }
                        inAjax--;
                        if (0 === inAjax) {
                            $(document.body).css('cursor', '');
                        }
                    }
                });
            }

            function disableFunctionality() {
                $(document.body).css('cursor', 'wait');
                $('button.invite-btn').prop('disabled', true);
                $('a.invite-btn').attr('disabled', true);
            }

            function onAcceptModal() {
                disableFunctionality();
                document.location = "{{ admin.generateUrl('accept-all', {'token': token}) }}";
            }

            function onDeclineModal() {
                disableFunctionality();
                document.location = "{{ admin.generateUrl('decline-all', {'token': token}) }}";
            }

            function onCancelModal() {
                {# Show flash message with the confirmation repeating link. #}
                if ($('a.invite-btn').length) {
                    $('#confirm-repeat').parent().addClass('alert-success').show();
                }
            }

            jQuery(document).ready(function () {
                var modalDlg = $('#confirm-modal');
                modalDlg.modal('show');
                modalDlg.on('hidden.bs.modal', onCancelModal);
                $('#confirm-accept-all').off('click').click(onAcceptModal);
                $('#confirm-decline-all').off('click').click(onDeclineModal);
            });
        </script>
    {% else %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#cms-block-{{ block.id }}').hide();
            });
        </script>
    {% endif %}
{% endblock %}
