{% extends ':Admin/CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var $control = $('#{{ admin.uniqid }}_emails');
            $control.select2({
                allowClear: true,
                tags: true,
                tokenSeparators: [',', ' '],
                selectOnBlur: true,
                closeOnSelect: false,
                dropdownCss: {display: 'none'},
                placeholder: "{{ 'registration_invite.admin.email_placeholder'|trans }}"
            });

            var container = $control.select2('container');
            var search = container.find("input.select2-input");
            search.css('cssText', search.attr('style') + '; background-image: none !important;');

            $control.on('select2-open',
                    function () {
                        var dropdown = $("#select2-drop");
                        if (dropdown.length > 0) {
                            var select2Obj = dropdown.data("select2");
                            if (typeof select2Obj.oldSelectHighlighted === 'undefined') {
                                select2Obj.oldSelectHighlighted = select2Obj.selectHighlighted;
                                select2Obj.selectHighlighted = function (options) {
                                    var value = this.search.val();
                                    value = $.trim(value);
                                    if (value != '') {
                                        var oldData = $control.select2('data');
                                        var add = true;
                                        for (var i = 0; i < oldData.length; i++) {
                                            if (oldData[i].id == value) {
                                                add = false;
                                                break;
                                            }
                                        }
                                        if (add) {
                                            this.onSelect({id: value, text: value}, options);
                                        }
                                    }
                                    this.oldSelectHighlighted(options);
                                }
                            }
                        }
                    }
            );
        });
    </script>
{% endblock javascripts %}
