{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.status is constant('STATUS_NEW', object) %}
        <input type="checkbox" name="idx[]" value="{{ admin.id(object) }}">
    {% endif %}
{% endblock %}
