{% if object.status is constant('STATUS_NEW', object) %}
    {% if object.active %}
        <a class="btn btn-sm btn-danger"
           data-href="{{ admin.generateObjectUrl('decline', object) }}"
           data-name="{{ object.organizationGroupName }}"
           data-type="{{ object.organizationGroupType }}"
           onclick="showModal(true, this)">{{ 'decline'|trans }}</a>
    {% endif %}
{% endif %}
