{% if object.status is constant('STATUS_NEW', object) %}
    {% if object.active %}
        <a class="btn btn-sm btn-success"
           data-href="{{ admin.generateObjectUrl('accept', object) }}"
           data-name="{{ object.organizationGroupName }}"
           data-type="{{ object.organizationGroupType }}"
           onclick="showModal(false, this)">{{ 'accept'|trans }}</a>
    {% else %}
        {% if object.organizationGroupType is constant('TYPE_GROUP', object) %}
            {% set label = 'registration_invite.label.non_active.group' %}
        {% else %}
            {% set label = 'registration_invite.label.non_active.organization' %}
        {% endif %}
        <b style="color: red;">{{ label|trans }}</b>
    {% endif %}
{% endif %}
