{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.status is constant('STATUS_NEW', object) %}
        <b>{{ admin.getTypesList()[object.organizationGroupType]|trans }}</b>
    {% else %}
        {{ admin.getTypesList()[object.organizationGroupType]|trans }}
    {% endif %}
{% endblock %}
