{% extends ':Admin/RegistrationInvite:base_list.html.twig' %}

{% set useBatch = false %}
{% if admin.newRegistrationInviteCount is defined %}
    {% if admin.newRegistrationInviteCount > 0 %}
        {% set useBatch = true %}
    {% endif %}
{% endif %}

{% block javascripts %}
    {{ parent() }}

    {% if useBatch %}
        {% embed ':Admin:correct_batch_quantity.html.twig' with {'newBatchQuantity': admin.newRegistrationInviteCount} %}
        {% endembed %}

        <script type="text/javascript">
            function disableFunctionality() {
                $(document.body).css('cursor', 'wait');
                $('button.invite-btn').prop('disabled', true);
            }

            function showModal(decline, obj) {
                var title = $('#title-modal');
                title.html(decline ?
                        '{{ "registration_invite.modal.title.decline"|trans }}' :
                        '{{ "registration_invite.modal.title.accept"|trans }}'
                );
                var text;
                if ($(obj).attr('data-type') == '{{ constant('AppBundle\\Entity\\RegistrationInvite::TYPE_ORGANIZATION') }}') {
                    text = decline ? "{{ 'registration_invite.modal.text.decline.organization'|trans }}" :
                            "{{ 'registration_invite.modal.text.accept.organization'|trans }}";
                } else {
                    text = decline ? "{{ 'registration_invite.modal.text.decline.group'|trans }}" :
                            "{{ 'registration_invite.modal.text.accept.group'|trans }}";
                }
                text += '<br>"' + $(obj).attr('data-name') + '"?';
                $('#text-modal').html(text);
                $('#dialog-modal').modal('show');
                if (decline) {
                    $('#header-modal').removeClass('bg-success').addClass('bg-danger');
                    title.removeClass('text-success').addClass('text-danger');
                } else {
                    $('#header-modal').removeClass('bg-danger').addClass('bg-success');
                    title.removeClass('text-danger').addClass('text-success');
                }
                $('#yes-button-modal').off('click').click(function () {
                    disableFunctionality();
                    document.location = $(obj).attr('data-href');
                });
            }
        </script>
    {% endif %}
{% endblock %}

{% block list_table %}
    {% if useBatch %}
        <div class="modal fade" id="dialog-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="header-modal">
                        <button type="button" class="close invite-btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="title-modal"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="text-modal"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default invite-btn" data-dismiss="modal" style="width: 100px;">{{ "no"|trans }}</button>
                        <button type="button" class="btn btn-primary invite-btn" style="width: 100px;" id="yes-button-modal">{{ "yes"|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block batch %}
    {% if useBatch %}
        {{ parent() }}
    {% endif %}
{% endblock %}
