{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a class="actionExclude btn btn-sm btn-danger"
       id="excludeButton{{- admin.id(object) -}}"
       data-href="{{ admin.generateObjectUrl('delete', object) }}"
       data-admin="{{- object.role.code is constant('ROLE_GROUP_ADMIN', object.role) ? 1 : 0 -}}"
       data-user_id="{{- object.user.id -}}"
       data-parameter0="{{ object.user.fullName }}"
       data-parameter1="{{ object.group.name }}"
       onclick="deleteUserFromGroup(this)">
        <i class="fa fa-times"></i>
        {{ 'group_user_permission.label.action_delete'|trans }}
    </a>
{% endif %}
