{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block javascripts %}
    {% set isOrganizationAdmin = admin.getCurrentUserRoleInOrganization() is constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_ADMIN') %}
    {% if not isOrganizationAdmin %}
        <script type="text/javascript">
            var groupAdminQuantity = {{ admin.getGroupAdminQuantity() }};
        </script>
    {% endif %}

    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var $roleValue = $('.roleValue');
            $roleValue.editable({
                success: function (response) {
                    if (response.status) {
                        if (response.access) {
                            if (response.role === "{{ constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') }}") {
                                $('#' + response.name).removeClass('label-success').addClass('label-danger');
                                $('#excludeButton' + response.pk).data('admin', 1);
                                {% if not isOrganizationAdmin %}
                                groupAdminQuantity++;
                                {% endif %}
                            } else {
                                $('#' + response.name).removeClass('label-danger').addClass('label-success');
                                $('#excludeButton' + response.pk).data('admin', 0);
                                {% if not isOrganizationAdmin %}
                                groupAdminQuantity--;
                                {% endif %}
                            }
                        } else {
                            $('span.roleValue').editable('option', 'disabled', true);
                            var $actionExclude = $('.actionExclude');
                            $actionExclude.attr('disabled', true);
                            $actionExclude.prop('onclick', null).off('click');
                            location.reload(true);
                        }
                    } else {
                        return "{{ 'group_user_permission.error.change_role'|trans }}";
                    }
                },
                error: function (response) {
                    return 'ajax error: ' + response.status;
                }
            });

            $roleValue.on('shown', function (e, editable) {
                var $buttonA = $('#excludeButton' + editable.$element.data('pk'));
                if ($buttonA.data('admin') == 1) {
                    var $form = editable.container.$form;
                    var text;
                    {% if isOrganizationAdmin %}
                    text = '{{ "group_user_permission.x_editable.role_admin"|trans|raw }}';
                    {% else %}
                    if ($buttonA.data('user_id') == {{ admin.getCurrentUser().id }}) {
                        if (groupAdminQuantity > 1) {
                            text = '{{ "group_user_permission.x_editable.role_self"|trans|raw }}';
                        } else {
                            text = '{{ "group_user_permission.x_editable.role_last_admin"|trans|raw }}';
                            editable.input.$input.prop('disabled', 'disabled');
                            $form.find('button.editable-submit').prop('disabled', 'disabled');
                        }
                    } else {
                        text = '{{ "group_user_permission.x_editable.role_admin"|trans|raw }}';
                    }
                    {% endif %}

                    var parameter;
                    for (var i = 0; i < 1000; ++i) {
                        parameter = $buttonA.data('parameter' + i);
                        if (parameter) {
                            text = text.replace('%__parameter' + i + '__%', parameter);
                        } else {
                            break;
                        }
                    }
                    $form.prepend('<p>' + text + '</p>');
                }
            });
        });

        function deleteUserFromGroup(obj) {
            if ($(obj).data('admin') == 1) {
                {% if isOrganizationAdmin %}
                showDialogDelete(obj, '{{ "group_user_permission.modal.text.exclude_admin"|trans|raw }}');
                {% else %}
                if ($(obj).data('user_id') == {{ admin.getCurrentUser().id }}) {
                    if (groupAdminQuantity > 1) {
                        showDialogDelete(obj, '{{ "group_user_permission.modal.text.exclude_self"|trans|raw }}');
                    } else {
                        showDialogOk(obj);
                    }
                } else {
                    showDialogDelete(obj, '{{ "group_user_permission.modal.text.exclude_admin"|trans|raw }}');
                }
                {% endif %}
            } else {
                showDialogDelete(obj);
            }
        }

        function sendMessage(obj)
        {
            var userID = $(obj).data('user_id');
            var url = '{{ path('personal_message_create', {'id': 'text'}) }}';
            url = url.replace("text", userID);
            window.location.replace(url);
        }
    </script>
{% endblock %}

{% block list_table %}
    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Delete' -%}
        {%- block dialogHeaderText 'group_user_permission.modal.title.exclude'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'group_user_permission.modal.text.exclude_user'|trans|raw -%}
        {% block dialogYesButtonText %}
            <i class="fa fa-times"></i>
            {{ parent() }}
        {% endblock %}
        {%- block dialogYesButtonClass 'btn-danger' -%}
        {% block dialogBoby %}
            {{ parent() }}
            <form method="POST" id="delete-form">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_sonata_csrf_token"
                       value="{{ render(controller('AppBundle:Csrf:deleteToken')) }}">
            </form>
        {% endblock %}
        {% block dialogYesScript %}
            $('#delete-form').prop('action', $(obj).data('href')).submit();
        {% endblock %}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Ok' -%}
        {%- block dialogHeaderText 'group_user_permission.modal.title.exclude'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'group_user_permission.modal.text.exclude_last_admin'|trans|raw -%}
        {% block dialogButtons %}
            <button type="button" data-dismiss="modal" class="btn modal-dlg-btn btn-danger" style="width: 100px;"
            >{{ 'ok'|trans }}</button>
        {% endblock %}
    {% endembed %}

    {{ parent() }}
{% endblock %}
