{% extends admin.getTemplate('base_list_field') %}

{% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.isGranted('EDIT', object) %}
{% set xEditableType = 'select' %}

{% if isEditable %}
    {% set data_source = '[' %}
    {% for id_key, name_value in admin.groupRoles %}
        {% set data_source = data_source ~ '{value: ' ~ id_key ~ ', text: \'' ~ name_value ~ '\'}' %}
        {% if not loop.last %}
            {% set data_source = data_source ~ ', ' %}
        {% endif %}
    {% endfor %}
    {% set data_source = data_source ~ ']' %}

    {% block field_span_attributes %}
        {% spaceless %}
            class="roleValue label {{ object.role.code is constant('ROLE_GROUP_ADMIN', object.role) ? 'label-danger' : 'label-success' }}"
            id="roleValue{{- admin.id(object) -}}"
            data-source="{{ data_source }}"
            data-type="select"
            data-placement="auto"
            data-value="{{ object.role.id }}"
            data-title="{{ field_description.label|trans({}, field_description.translationDomain) }}"
            data-pk="{{ admin.id(object) }}"
            data-url="{{ admin.generateObjectUrl('change-role', object) }}"
        {% endspaceless %}
    {% endblock %}
{% endif %}

{% block field %}
    {% spaceless %}
        {% if isEditable %}
            {{ value }}
        {% else %}
            <span class="label {{ object.role.code is constant('ROLE_GROUP_ADMIN', object.role) ? 'label-danger' : 'label-success' }}"
            >{{ value }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
