{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a class="btn btn-sm btn-danger"
       data-href="{{ admin.generateObjectUrl('delete', object) }}"
       data-parameter0="{{ object.name }}"
       onclick="showDialogDelete(this)">
        <i class="fa fa-times"></i>
        {{ 'topic.label.action_delete'|trans }}
    </a>
{% endif %}
