{% set quantity = admin.getParticipantsQuantity() %}
<a class="btn btn-sm btn-info"
   title="{{ 'topic.label.participants'|trans }}"
   href="{{ admin.generateUrl('participants', {'topicId': object.id}) }}"
>
    {%- if quantity is not empty -%}
        <table style="width: 120px;">
            <tbody>
            <tr>
                <td style="text-align: left; width: 1px;">{{ 'topic.label.participants'|trans }}</td>
                <td style="text-align: right;">&nbsp;({{ quantity[object.id].groupQuantity }})</td>
                <td style="text-align: right;">&nbsp;({{ quantity[object.id].moderatorQuantity }})</td>
            </tr>
            </tbody>
        </table>
    {%- else -%}
        {{ 'topic.label.participants'|trans }}
    {% endif %}
</a>
