{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block list_table %}
    {% embed ':Admin:modal_delete_dialog.html.twig' %}
        {%- block dialogHeaderText 'topic.modal.title.delete'|trans -%}
        {%- block dialogText 'topic.modal.text.delete'|trans|raw -%}
        {%- block dialogDeleteButtonText 'topic.modal.button.delete'|trans -%}
    {% endembed %}
    {{ parent() }}
{% endblock %}
