{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set info = admin.getLastpostInfo()[object.id] %}
    {% if object.postQuantity > 0 %}
        <a href="{{ info.lastUrl }}"><span style="font-weight: bold; white-space: nowrap;">{{- info.username -}}</span>
        <br/>
        <span style="font-size: 0.8em; white-space: nowrap; color: #1b7e5a;">{{- info.dateTime -}}</span>
        </a>
    {% endif %}
{% endblock %}
