{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set rights = admin.getCurrentUserTopicRights()[object.id] %}
    {% if not rights %}
        <span class="label label-default">
            {{ 'topic.access.none'|trans }}
        </span>
    {% elseif rights is constant('AppBundle\\Entity\\Role::ROLE_GROUP_USER') %}
        <span class="label label-info">
            {{ 'topic.access.user'|trans }}
        </span>
    {% elseif rights is constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') %}
        <span class="label label-danger">
            {{ 'topic.access.admin'|trans }}
        </span>
    {% else %}
        <span class="label label-warning">
            {{ 'topic.access.moderator'|trans }}
        </span>
    {% endif %}
{% endblock %}
