{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set index = admin.getNumberOfNewMessageFromTopic()[object.id] %}
    <div style="text-align: right;">
        {{ object.postQuantity }}

        <a href="{{ index.lastUrl }}">
            {% if index.count == 0 %}
                <span>({{ index.count }})</span>
            {% else %}
                <span style="color: red">({{ index.count }})</span>
            {% endif %}
        </a>
    </div>
{% endblock %}
