{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set rights = admin.getCurrentUserTopicRights()[object.id] %}
    <a href="{{ admin.getChild('app.post_admin').generateObjectUrl('list', object) }}">{{ value }}</a>
    {% if rights is constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') and not object.active %}
        <span style="color: red;">({{ 'topic.inactive'|trans }})</span>
    {% endif %}
    {#<div style="width: 400px; text-align: justify; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">#}
    <div style="max-height: 64px; text-align: justify; overflow: hidden; text-overflow: ellipsis;">
        <span style="font-size: 0.9em; color: #1b7e5a;">{{ object.description }}</span>
    </div>
{% endblock %}
