{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .status-accepted {
            color: #00a65a;
            font-weight: bold;
        }

        .status-declined {
            color: #dd4b39;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block list_table %}
    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Approve' -%}
        {%- block dialogHeaderText 'registration_request.modal.title.approve'|trans -%}
        {%- block dialogHeaderTextClass 'text-success' -%}
        {%- block dialogHeaderClass 'bg-success' -%}
        {%- block dialogText 'registration_request.modal.text.approve'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-success' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Decline' -%}
        {%- block dialogHeaderText 'registration_request.modal.title.decline'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'registration_request.modal.text.decline'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
        {% block dialogBoby %}
            <form method="POST" id="decline-form">
                <p id="{{- block('dialogTextID') -}}"></p>
                <div class="form-group">
                    <label for="decline-comment" class="control-label">
                        {{ "registration_request.modal.comment"|trans }}
                    </label>
                    <div class="">
                        <textarea class="form-control" rows="3" id="decline-comment" name="decline-comment"></textarea>
                    </div>
                </div>
            </form>
        {% endblock %}
        {% block dialogNoScript %}
            $('#decline-comment').val('');
        {% endblock %}
        {% block dialogYesScript %}
            $('#decline-form').prop('action', $(obj).attr('data-href')).submit();
        {% endblock %}
    {% endembed %}
    {{ parent() }}
{% endblock %}
