{% extends admin.getTemplate('base_list_field') %}

{%- block field -%}
    <b
            {% if object.status is constant('STATUS_APPROVED', object) %}
                class="status-accepted"
            {% elseif object.status is constant('STATUS_DECLINED', object) %}
                class="status-declined"
            {% endif %}
    >
        {{- admin.getStatusesList()[value]|trans -}}
    </b>
{%- endblock -%}
