{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if object.status is constant('STATUS_NEW', object) %}
        <b>{{ parent() }}</b>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
