{% if object.status == constant('STATUS_NEW', object) %}
    <a class="btn btn-sm btn-danger"
       data-href="{{ admin.generateObjectUrl('decline', object) }}"
       data-parameter0="{{ object.user.fullName }}"
       onclick="showDialogDecline(this)">{{ 'decline'|trans }}</a>
{% endif %}
