{% if object.status == constant('STATUS_NEW', object) %}
    <a class="btn btn-sm btn-success"
       data-href="{{ admin.generateObjectUrl('approve', object) }}"
       data-parameter0="{{ object.user.fullName }}"
       onclick="showDialogApprove(this)">{{ 'approve'|trans }}</a>
{% endif %}
