{% extends ':Admin/CRUD:base_edit.html.twig' %}

{% set hide_btn_update_and_edit = true %}
{% set hide_btn_create_and_edit = true %}
{% set hide_btn_create_and_create = true %}

{% block form %}
    {% include ':Admin/Post:header.html.twig' %}

    {% set parentPostID = app.request.request.get(constant('AppBundle\\Admin\\PostAdmin::PARENT_POST_ID')) %}
    {% if parentPostID is null %}
        {% set parentPostID = app.request.query.get(constant('AppBundle\\Admin\\PostAdmin::PARENT_POST_ID')) %}
    {% endif %}
    {% if parentPostID is not null %}
        {% set parentPost = admin.getObject(parentPostID) %}
        {% include ':Admin/Post:list__quotation.html.twig' %}
    {% endif %}

    {{ parent() }}
{% endblock form %}
