{% set isModerator = admin.hasCurrentUserModeratorRights() %}

{% if topic is not defined %}
    {% set parentAdmin = admin.getParent() %}
    {% set topic = parentAdmin.getObject(app.request.get(parentAdmin.getIdParameter())) %}
{% endif %}

<div class="col-xs-12 col-md-12">
    <div style="float: left;">
        <b style="font-size: 1.5em;">{{ topic.name }}</b>
        <br/>
        {% if not topic.opened %}
            <span style="color: red;">({{ 'topic.closed'|trans }})</span>
        {% endif %}
        {% if not topic.active %}
            <span style="color: red;">({{ 'topic.inactive'|trans }})</span>
        {% endif %}
    </div>
    {% if isModerator %}
        <div style="float: right;">
            <span class="label label-danger">
                {{ 'topic.moderator_mode'|trans }}
            </span>
        </div>
    {% endif %}
</div>

<div class="col-xs-12 col-md-12" style="text-align: justify; font-size: 0.9em; color: #1b7e5a;">
    {{ topic.description }}
    <br/>
    <br/>
</div>
