<span style="font-weight: bold; white-space: nowrap;">{{ object.user.username }}</span>
<br/>
<span style="font-size: 0.8em; white-space: nowrap;">
    {{ 'post.label.last_login'|trans }}:&nbsp;{{ object.user.lastLogin|date }}
</span>
<br/>
<span style="font-size: 0.8em; white-space: nowrap;">
    {{ 'post.label.registered'|trans }}:&nbsp;{{ object.user.createdAt|date }}
</span>
