{% set isModerator = admin.hasCurrentUserModeratorRights() %}

<div style="color: green; font-weight: bold; font-size: 0.8em; white-space: nowrap;">
    {{ object.dateTime|date }}
</div>

{% set parentPost = object.parentPost %}
{% if insideQuotation is not defined %}
    {% set insideQuotation = false %}
{% endif %}

{% if not insideQuotation and parentPost is not null %}
    {% include ':Admin/Post:list__quotation.html.twig' %}
{% endif %}

{% if not object.active %}
    <div class="label label-danger">
        {{ 'post.deleted'|trans }}
    </div>
{% endif %}

{% if object.active or isModerator %}
    <div class="col-xs-12 col-md-12" style="text-align: justify;{{ object.active ? ' ' : ' color: red;' }}">
        {{ object.body }}
    </div>
{% endif %}

{% if not insideQuotation and (object.active or isModerator) %}
    <br/>
    <div>
        {% if object.parentPost is null and (object.topic.opened or isModerator) %}
            <a href="{{ admin.generateObjectUrl('quote', object) }}"
               class="btn btn-sm btn-info">
                {{ 'post.label.quote'|trans }}
            </a>
        {% endif %}

        {% if isModerator or (object.topic.opened and (app.user.id == object.user.id)) %}
            <a class="btn btn-sm btn-info"
                    {% set params = {} %}
                    {% if parentPost is not null %}
                        {% set params = params|merge({ (constant('AppBundle\\Admin\\PostAdmin::PARENT_POST_ID')) : parentPost.id }) %}
                    {% endif %}
               href="{{ admin.generateObjectUrl('edit', object, params) }}"
            >{{ 'post.label.edit'|trans }}</a>
        {% endif %}

        {% if object.active %}
            {% if isModerator or (object.topic.opened and (app.user.id == object.user.id)) %}
                <a class="btn btn-sm btn-danger"
                   data-href="{{ admin.generateObjectUrl('inactivate', object) }}"
                   data-parameter0="{{ object.user.fullName }}"
                   data-parameter1="{{ object.dateTime|date }}"
                   onclick="showDialogInactivate(this)">{{ 'post.label.inactivate'|trans }}</a>
            {% endif %}
            {% if isModerator and object.parentPost is null %}
                <a class="btn btn-sm btn-danger"
                   data-href="{{ admin.generateObjectUrl('inactivate-all', object) }}"
                   data-parameter0="{{ object.user.fullName }}"
                   data-parameter1="{{ object.dateTime|date }}"
                   onclick="showDialogInactivateAll(this)">{{ 'post.label.inactivate_all'|trans }}</a>
            {% endif %}
        {% else %}
            {% if isModerator %}
                <a class="btn btn-sm btn-danger"
                   data-href="{{ admin.generateObjectUrl('activate', object) }}"
                   data-parameter0="{{ object.user.fullName }}"
                   data-parameter1="{{ object.dateTime|date }}"
                   onclick="showDialogActivate(this)">{{ 'post.label.activate'|trans }}</a>
                {% if object.parentPost is null %}
                    <a class="btn btn-sm btn-danger"
                       data-href="{{ admin.generateObjectUrl('activate-all', object) }}"
                       data-parameter0="{{ object.user.fullName }}"
                       data-parameter1="{{ object.dateTime|date }}"
                       onclick="showDialogActivateAll(this)">{{ 'post.label.activate_all'|trans }}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
