{% extends ':Admin/CRUD:base_list.html.twig' %}

{% set isModerator = admin.hasCurrentUserModeratorRights() %}
{% set parentAdmin = admin.getParent() %}
{% set topic = parentAdmin.getObject(app.request.get(parentAdmin.getIdParameter())) %}
{% set rowCount = admin.datagrid.results|length %}

{% block list_table %}
    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Inactivate' -%}
        {%- block dialogHeaderText 'post.modal.title.inactivate'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'post.modal.text.inactivate'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'InactivateAll' -%}
        {%- block dialogHeaderText 'post.modal.title.inactivate_all'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'post.modal.text.inactivate_all'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Activate' -%}
        {%- block dialogHeaderText 'post.modal.title.activate'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'post.modal.text.activate'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'ActivateAll' -%}
        {%- block dialogHeaderText 'post.modal.title.activate_all'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'post.modal.text.activate_all'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% include ':Admin/Post:header.html.twig' %}

    {% if rowCount > 0 %}
        {{ parent() }}
    {% else %}
        {% block add_new_post %}
            {% if topic.opened or isModerator %}
                <div class="col-xs-12 col-md-12">
                    <a href="{{ admin.generateUrl('create') }}"
                       class="btn btn-sm btn-info">{{ 'post.label.reply'|trans }}</a>
                </div>
            {% endif %}
        {% endblock add_new_post %}
    {% endif %}
{% endblock list_table %}

{% block list_footer %}
    {{ parent() }}

    {% if rowCount > 0 %}
        {{ block('add_new_post') }}
    {% endif %}
{% endblock list_footer %}
