<div class="col-xs-12 col-md-12">
    <b style="color: darkblue;">{{ 'post.label.quotation'|trans }}:</b>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="sonata-ba-list-field sonata-ba-list-field-text" style="width: 1px; white-space: nowrap;">
                {% include ':Admin/Post:list__user.html.twig' with { 'object': parentPost } %}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                {% include ':Admin/Post:list__body.html.twig' with { 'object': parentPost, 'insideQuotation': true } %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
