{% if admin.list.has('batch') and not app.request.isXmlHttpRequest %}
    <td class="sonata-ba-list-field sonata-ba-list-field-batch">
        {{ object|render_list_element(admin.list['batch']) }}
    </td>
{% endif %}

<td class="sonata-ba-list-field sonata-ba-list-field-text" style="width: 1px; white-space: nowrap;"
    objectId="{{ admin.id(object) }}">
    {% include ':Admin/Post:list__user.html.twig' %}
</td>
<td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ admin.id(object) }}">
    {% include ':Admin/Post:list__body.html.twig' %}
</td>

{% if admin.list.has('_action') and not app.request.isXmlHttpRequest %}
    <td class="sonata-ba-list-field sonata-ba-list-field-_action" objectId="{{ admin.id(object) }}">
        {{ object|render_list_element(admin.list['_action']) }}
    </td>
{% endif %}
