{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set value = admin.getUserGroups(object) %}
    {% set count_value = admin.getUserCountGroups(object) %}
    {% set random_id = admin.generateRandomNumber() %}
    {% if value|length %}
        <script>
            $(document).ready(function () {
                $('.js-delete-schedule').on('click', function () {
                    if (confirm('{{ 'remove_from_group'|trans }} ' + $(this).attr('data-target') + ' ?')) {
                        $.get($(this).attr('data-url'), function () {
                            window.location.reload();
                        })
                    }
                });
            });
        </script>
        <div id="myModalBox_{{ count_value }}_{{ random_id }}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Группы пользователя</h4>
                    </div>
                    <div class="modal-body">
                        {% for key, group in  value %}

                            <div style="display: inline; clear: both">
                                <button type="button" class="close js-delete" style="float: left;" data-text="{{ "confirm_remove_user_from_group.text"|trans({'%name%': object.fullName, '%group%': group})|raw }}" data-href="{{ admin.generateObjectUrl('group-remove', object, {groupId: key}) }}">
                                    ×
                                </button>
                                {{ group }}{% if not loop.last %},{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#myModalBox_{{ count_value }}_{{ random_id }}" class="btn btn-primary" data-toggle="modal">Количество
            групп: {{ count_value }}</a>
    {% endif %}
{% endblock %}
