{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var users = $('a.btn-remove-user');
            $.each(users, function(index) {
                var user = $(users[index]);
                user.click(function(){
                    global.showConfirm('{{ 'confirm_remove_user_from_organization.title'|trans }}', user.attr('data-text'), user.attr('data-href'));
                })
            })
        })
    </script>
{% endblock javascripts %}
