{% if object.id != app.user.id %}
    <a class="btn btn-sm btn-remove-user" data-href="{{ admin.generateObjectUrl('remove', object) }}" data-text="{{ "confirm_remove_user_from_organization.text"|trans({'%name%': object.fullName})|raw }}">{{ 'remove_from_organization'|trans }}</a>
{% endif %}

