<a class="btn btn-sm btn-info"
   href="{%- block hrefURL '' -%}">
    {%- if object.userCount is defined -%}
        <table style="width: 100px;">
            <tbody>
            <tr>
                <td style="text-align: left; width: 1px;">{{ 'group.label.users'|trans }}</td>
                <td style="text-align: right;">&nbsp;({{ object.userCount }})</td>
            </tr>
            </tbody>
        </table>
    {%- else -%}
        {{ 'group.label.users'|trans }}
    {% endif %}
</a>
