{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include ':Admin/CRUD:list__boolean_subtree_script.html.twig' %}
{% endblock %}
{% block actions %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <li>{% include '::Admin/Button/create_button.html.twig' %}</li>
    {% endif %}

{% endblock %}

{% block list_table %}
    {% embed ':Admin:modal_delete_dialog.html.twig' %}
        {%- block dialogHeaderText 'group.modal.title.delete'|trans -%}
        {%- block dialogText 'group.modal.text.delete'|trans|raw -%}
        {%- block dialogDeleteButtonText 'group.modal.button.yes'|trans -%}
        {% block deleteForm %}
            {{ parent() }}
            <input type="hidden" value="0"
                   name="{%- block dialogSubtreeID constant('AppBundle\\Admin\\GroupAdmin::DELETE_SUB_TREE') -%}"
                   id="{{- block('dialogSubtreeID') -}}">
        {% endblock %}
        {% block dialogButtons %}
            {{ parent() }}
            <button type="button"
                    class="btn modal-dlg-btn btn-danger"
                    id="{%- block dialogDeleteSubtreeButtonID -%}modalDialogDeleteSubtreeButtonID{{- block('tag') -}}{%- endblock -%}"
            ><i class="fa fa-times"></i>{{ 'group.modal.button.yes_childs'|trans }}</button>
        {% endblock %}
        {% block dialogShowFunctionBody %}
            {{ parent() }}
            $("#{{- block('dialogDeleteSubtreeButtonID') -}}").off('click').click(function () {
            {{ block('dialogDisableFunction') }}();
            $('#{{ block('dialogSubtreeID') }}').val(1);
            $('#delete-form').prop('action', $(obj).data('href')).submit();
            });
        {% endblock %}
    {% endembed %}
    {{ parent() }}
{% endblock %}
