<a class="btn btn-sm btn-info"
   title="{{ 'group.action.show_topics'|trans }}"
        {% if object.active %}
            href="{{ admin.getUserTopicAdmin().generateListURLFilteredByGroups(app.request, object.id) }}"
        {% else %}
            disabled="disabled"
        {% endif %}
>
    {%- if admin.getGroupTopicQuantity is defined -%}
        <table style="width: 60px;">
            <tbody>
            <tr>
                <td style="text-align: left; width: 1px;">{{ 'group.label.topics'|trans }}</td>
                <td style="text-align: right;">&nbsp;({{ admin.getGroupTopicQuantity(object.id) }})</td>
            </tr>
            </tbody>
        </table>
    {%- else -%}
        {{ 'group.label.topics'|trans }}
    {%- endif -%}
</a>
