{% embed '::Admin/Group/base_list__action_users.html.twig' %}
    {%- block hrefURL -%}
        {{ admin.getChild('app.group_user_permission_admin').generateObjectUrl('list', object) }}
    {%- endblock -%}
{% endembed %}
