{% if admin.hasRoute('quit') %}
    {% set groups = admin.getUserGroupAdditionalData() %}
    <a class="btn btn-sm btn-danger"
       data-href="{{ admin.generateObjectUrl('quit', object) }}"
       data-parameter0="{{ object.name }}"
       data-admin_quantity="{{ groups[object.id]['adminQuantity'] }}"
       data-admin="{{ groups[object.id]['code'] is constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') ? 1 : 0 }}"
       onclick="quitFromGroup(this)"><i class="fa fa-times"></i>{{ 'group.action.quit'|trans }}</a>
{% endif %}
