{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set groups = admin.getUserGroupAdditionalData() %}
    <span class="label {{ groups[object.id]['code'] is constant('AppBundle\\Entity\\Role::ROLE_GROUP_ADMIN') ?
    'label-danger' : 'label-success' }}">{{ groups[object.id]['name'] }}</span>
{% endblock %}
