<a class="btn btn-sm btn-danger"
   data-href="{{ admin.generateObjectUrl('delete', object) }}"
   data-parameter0="{{ object.name }}"
   onclick="showDialogDelete(this)">
    <i class="fa fa-times"></i>
    {{ 'group.label.action_delete'|trans }}
</a>