{% extends ':Admin/CRUD:base_list__boolean_subtree.html.twig' %}

{%- block noLabel 'group.label.no'|trans -%}
{%- block noLabelDescendants 'group.label.no_childs'|trans -%}
{%- block yesLabel 'group.label.yes'|trans -%}
{%- block yesLabelDescendants 'group.label.yes_childs'|trans -%}
