{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% set filter = admin.filterParameters %}
    {%- if filter['_sort_by'] is defined and filter['_sort_by'] == 'name' and object.depth > 0 -%}
    <table>
        <tbody>
        <tr>
            <td>{{ object.shiftNBSP|raw }}</td>
            <td>{{ value }}</td>
        </tr>
        </tbody>
    </table>
    {%- else -%}
        {{ value }}
    {%- endif -%}
{% endblock %}
