{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block javascripts %}
    {% set isOrganizationAdmin = admin.getCurrentUserRoleInOrganization() is constant('AppBundle\\Entity\\Role::ROLE_ORGANIZATION_ADMIN') %}
    {{ parent() }}

    <script type="text/javascript">
        function quitFromGroup(obj) {
            {% if isOrganizationAdmin %}
            showDialog(obj);
            {% else %}
            if ($(obj).data('admin') == 1) {
                if ($(obj).data('admin_quantity') > 1) {
                    showDialog(obj, '{{ "group.modal.text.quit_admin"|trans|raw }}');
                } else {
                    showDialogOk(obj);
                }
            } else {
                showDialog(obj);
            }
            {% endif %}
        }
    </script>
{% endblock %}

{% block list_table %}
    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block dialogHeaderText 'group.modal.title.quit'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'group.modal.text.quit_user'|trans|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Ok' -%}
        {%- block dialogHeaderText 'group.modal.title.quit'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'group.modal.text.quit_last_admin'|trans|raw -%}
        {% block dialogButtons %}
            <button type="button" data-dismiss="modal" class="btn modal-dlg-btn btn-danger" style="width: 100px;"
            >{{ 'ok'|trans }}</button>
        {% endblock %}
    {% endembed %}

    {{ parent() }}
{% endblock %}
