{% extends base_template %}

{% block list_table %}
    {% block request_info %}
    {% endblock %}
    <br/>
    {% block request_navigate %}
        <a class="btn btn-default" href="{{ admin.generateUrl('list', {'search': search, 'sort': sort}) }}">
            {{ 'registration_request.wizard.go_back_link'|trans }}
        </a>
    {% endblock %}
{% endblock %}
