{% extends base_template %}

{% set classRestricted = 'group-restricted' %}
{% set classSelectable = 'group-selectable' %}
{% set classSelected = 'group-selected' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #request-groups td.width-control {
            width: 1px;
            white-space: nowrap;
            text-align: center;
        }

        #request-groups tr.{{- classRestricted -}} {
            background-color: lightgray;
        }

        #request-groups tr.{{- classRestricted -}}:hover {
            cursor: not-allowed;
        }

        #request-groups tr.{{- classSelectable -}} {
            background-color: lightcyan;
        }

        #request-groups tr.{{- classSelectable -}}:hover {
            cursor: pointer;
        }

        #request-groups tr.{{- classSelected -}} {
            background-color: yellowgreen;
        }

        a.request-sort-asc:hover,
        a.request-sort-desc:hover {
            cursor: pointer;
        }

        a.request-sort-asc:after {
            content: "";
            border-top: 4px solid black;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
        }

        a.request-sort-desc:after {
            content: "";
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid black;
            border-left: 4px solid transparent;
        }
    </style>
{% endblock %}

{%- block prototypeCheckbox -%}
    {% spaceless %}
        <input type="checkbox" name="ids[]" value="__id__" __checked__>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRegistered -%}
    {% spaceless %}
        <span style="font-weight: bold; color: #00a65a;">{{ 'registration_request.wizard.registered'|trans }}</span>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRequestSent -%}
    {% spaceless %}
        <span style="color: gray;">{{ 'registration_request.wizard.request_sent'|trans }}</span>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRow -%}
    {% spaceless %}
        <tr onclick="onRowClick(this);" class="__restricted__">
            <td class="width-control">__checkbox__</td>
            <td>__name__</td>
            <td class="width-control">__state__</td>
        </tr>
    {% endspaceless %}
{%- endblock -%}

{% block list_table %}
    <h1>{{ 'registration_request.wizard.step2.title'|trans }}</h1>
    <p>{{ 'registration_request.wizard.step2.organization'|trans }}<b>"{{ organization.name }}"</b></p>
    <p>{{ 'registration_request.wizard.step2.message'|trans|raw }}</p>
    <form id="request-form" action="{{ admin.generateUrl('list-groups', {'organization_id': organization.id}) }}" method="POST">
        <div class="col-sm-10">
            <input type="hidden" value='{{ search }}' name='search'>
            <input type="hidden" value='{{ sort }}' name='sort'>
            <input type="hidden" value='{{ sort_group }}' name='sort_group' id="request-sort-group">
            <input type="hidden" value='{{ search_group }}' name='search_group' id="request-search-group-hidden">
            <input type="text" value='{{ search_group }}' class="form-control" id="request-search-group-input">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default" id="request-search-group-button" type="submit">
                {{ 'registration_request.wizard.search_button'|trans }}
            </button>
        </div>
        <br/>
        <br/>
        <div class="col-sm-12">
            <table class="table table-striped table-condensed" {{ groups|length == 0 ? "style='display: none;'" }}>
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="ids_all" onclick="onCheckAll(this);">
                    </th>
                    <th>
                        <a class="{{ sort_group ? 'request-sort-asc' : 'request-sort-desc' }} request-btn" id="request-sort"
                           onclick="onColumnHeaderClick(this);">{{ 'registration_request.wizard.step2.name'|trans }}</a>
                    </th>
                    <th>{{ 'registration_request.wizard.step2.state'|trans }}</th>
                </tr>
                </thead>
                <tbody id="request-groups"
                       data-prototype-checkbox="{{ block('prototypeCheckbox')|e('html') }}"
                       data-prototype-registered="{{ block('prototypeRegistered')|e('html') }}"
                       data-prototype-request-sent="{{ block('prototypeRequestSent')|e('html') }}"
                       data-prototype-row="{{ block('prototypeRow')|e('html') }}">
                {%- for group in groups -%}
                    {%- set restricted = classRestricted -%}
                    {%- set checkbox = '' -%}
                    {%- if group['registered'] == 1 -%}
                        {%- set state = block('prototypeRegistered') -%}
                    {%- elseif group['has_request'] == 1 -%}
                        {%- set state = block('prototypeRequestSent') -%}
                    {%- else -%}
                        {%- set state = '' -%}
                        {%- set restricted = classSelectable -%}
                        {%- if group['selected'] -%}
                            {%- set restricted = restricted ~ ' ' ~ classSelected -%}
                        {%- endif -%}
                        {%- set checkbox = block('prototypeCheckbox')|
                        replace({'__id__': group['id'], '__checked__': group['selected'] ? 'checked="checked"'}) -%}
                    {%- endif -%}
                    {%- set row = block('prototypeRow')|
                    replace({'__checkbox__': checkbox, '__name__': group['name'], '__state__': state, '__restricted__': restricted}) -%}
                    {{- row|raw -}}
                {%- endfor -%}
                </tbody>
            </table>
            {% spaceless %}
                <p id="request-total">
                    {{- 'registration_request.wizard.step2.total_groups'|trans({'%total%': groups|length}) -}}
                </p>
            {% endspaceless %}
        </div>
    </form>
    <hr/>
    <div>
        <a href="{{ admin.generateUrl('list', {'search': search, 'sort': sort}) }}" class="btn btn-default request-btn">
            {{ 'registration_request.wizard.go_back_link'|trans }}
        </a>
        <a class="btn btn-info request-btn" onclick="onButtonSendRequest()">
            {{ 'registration_request.wizard.action.send_request'|trans }}
        </a>
    </div>
    <div class="modal fade" id="dialog-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close request-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'registration_request.wizard.modal_title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'registration_request.wizard.step2.modal_text'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default request-btn" data-dismiss="modal" style="width: 100px;">{{ "no"|trans }}</button>
                    <button type="button" class="btn btn-primary request-btn" style="width: 100px;" id="yes-button-modal">{{ "yes"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dialog-modal-warning" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close request-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'registration_request.wizard.step2.modal_warning_title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'registration_request.wizard.step2.modal_warning_text'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default request-btn" data-dismiss="modal" style="width: 100px;">{{ "close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var $form;
        var $selectableRows;
        var $searchHidden, $searchInput;
        var timer = null;

        function onColumnHeaderClick(obj) {
            var $obj = $(obj);
            if (!$obj.attr('disabled')) {
                $obj.toggleClass('request-sort-asc');
                $obj.toggleClass('request-sort-desc');
                $('#request-sort-group').val($('#request-sort').hasClass('request-sort-asc') ? 1 : 0);
                ajaxData(false);
            }
        }

        function enableFunctionality(enable) {
            if (!enable) {
                $(document.body).css('cursor', 'wait');
            }
            $searchInput.prop('disabled', !enable);
            $('#request-search-group-button').prop('disabled', !enable);
            $('a.request-btn').attr('disabled', !enable);
            $('button.request-btn').prop('disabled', !enable);
            if (enable) {
                $(document.body).css('cursor', '');
            }
        }

        function onButtonSendRequest() {
            if (getCheckedRowsCount() > 0) {
                $('#dialog-modal').modal('show');
            } else {
                $('#dialog-modal-warning').modal('show');
            }
        }

        function selectRow($row, isSelected) {
            var $input = $row.find('td:first-child input[type="checkbox"]');
            if ($input.length > 0) {
                $input.prop('checked', isSelected);
            }
            if (isSelected) {
                $row.addClass('{{ classSelected }}');
            } else {
                $row.removeClass('{{ classSelected }}');
            }
        }

        function onCheckAll(checkbox) {
            var isChecked = $(checkbox).is(':checked');
            $selectableRows.each(function (index, row) {
                selectRow($(row), isChecked);
            });
        }

        function getCheckedRowsCount() {
            return $selectableRows.find('td:first-child input[type="checkbox"]:checked').length;
        }

        function correctCheckboxAllState() {
            var checkedCount = getCheckedRowsCount();
            var $idsAll = $('#ids_all');
            $idsAll.prop('checked', checkedCount == $selectableRows.length);
            if ($selectableRows.length > 0) {
                $idsAll.css('display', '');
            } else {
                $idsAll.css('display', 'none');
            }
        }

        function onRowClick(row) {
            var $row = $(row);
            if ($row.hasClass('{{ classSelectable }}')) {
                selectRow($row, !$row.hasClass('{{ classSelected }}'));
                correctCheckboxAllState();
            }
        }

        function setData(data) {
            var $tbody = $('#request-groups');
            $tbody.find('tr').remove();
            if (data.length > 0) {
                var prototypeCheckbox = $tbody.data('prototype-checkbox');
                var prototypeRegistered = $tbody.data('prototype-registered');
                var prototypeRequestSent = $tbody.data('prototype-request-sent');
                var prototypeRow = $tbody.data('prototype-row');
                var state, restricted, checkbox, row;
                for (var i = 0; i < data.length; i++) {
                    restricted = '{{ classRestricted }}';
                    checkbox = '';
                    if (1 == data[i].registered) {
                        state = prototypeRegistered;
                    } else if (1 == data[i].has_request) {
                        state = prototypeRequestSent;
                    } else {
                        state = '';
                        restricted = '{{ classSelectable }}';
                        if (data[i].selected) {
                            restricted += ' {{ classSelected }}';
                        }
                        checkbox = prototypeCheckbox.replace('__id__', data[i].id);
                        checkbox = checkbox.replace('__checked__', data[i].selected ? 'checked="checked"' : '');
                    }
                    row = prototypeRow.replace('__checkbox__', checkbox);
                    row = row.replace('__name__', data[i].name);
                    row = row.replace('__state__', state);
                    row = row.replace('__restricted__', restricted);
                    $tbody.append(row);
                }
                $tbody.parent().css('display', '');
                setSelectableRows();
                correctCheckboxAllState();
            } else {
                $tbody.parent().css('display', 'none');
            }

            var $total = $('#request-total');
            var totalText = "{{ 'registration_request.wizard.step2.total_groups'|trans({'%total%': '__total__'}) }}";
            totalText = totalText.replace('__total__', data.length);
            $total.text(totalText);
        }

        function onInputChange(event) {
            var valueChanged = false;
            if (event.type == 'propertychange') {
                valueChanged = e.originalEvent.propertyName == 'value';
            } else {
                valueChanged = true;
            }
            if (valueChanged) {
                clearTimeout(timer);
                if ($(this).val().length > 3) {
                    timer = setTimeout(function () {
                        $form.submit();
                    }, 1000);
                }
            }
        }

        function ajaxData(newSearch) {
            clearTimeout(timer);
            if (newSearch) {
                $searchHidden.val($searchInput.val());
            }
            // Serialize the data first of disabling the functionality!!!
            var data = $form.serialize();
            enableFunctionality(false);
            $.ajax({
                url: $form.prop('action'),
                type: $form.prop('method'),
                data: data,
                dataType: 'json',
                error: function () {
                    console.error('Groups search ajax error!');
                    enableFunctionality(true);
                },
                success: function (response) {
                    {# response = [{'id', 'name', 'registered', 'has_request', 'selected'},...] #}
                    setData(response);
                    enableFunctionality(true);
                    $searchInput.focus();
                }
            });
        }

        function onSubmit(event) {
            ajaxData(true);
            event.preventDefault();
        }

        function setSelectableRows() {
            $selectableRows = $('#request-groups tr.{{ classSelectable }}');
        }

        $(document).ready(function () {
            $(':checkbox').iCheck('destroy');
            setSelectableRows();
            correctCheckboxAllState();

            $form = $('#request-form');
            $form.on('submit', function (event) {
                onSubmit(event);
            });

            $searchHidden = $("#request-search-group-hidden");
            $searchInput = $("#request-search-group-input");
            $searchInput.on('input propertychange paste', onInputChange);

            $('#yes-button-modal').off('click').click(function () {
                $form.prop('action', "{{ admin.generateUrl('request-groups', {'organization_id': organization.id}) }}");
                $form.off('submit');
                $form.submit();
                // Submit the form first of disabling the functionality!!!
                enableFunctionality(false);
            });
        });
    </script>
{% endblock javascripts %}
