{% extends ':Admin/FindGroup:step3.html.twig' %}

{% block request_info %}
    <p>
        {{- 'registration_request.wizard.step3.message_organization'|trans({'%organization%': '<b>"'~organization.name~'"</b>'})|raw -}}
    </p>
{% endblock %}
