{% extends ':Admin/FindGroup:step3.html.twig' %}

{% block request_info %}
    <p>{{- 'registration_request.wizard.step3.message_groups1'|trans -}}</p>
    {% for group in groups %}
        <b>"{{- group.name -}}"</b>{% if not loop.last %},{% endif %}<br/>
    {% endfor %}
    <br/>
    <p>{{- 'registration_request.wizard.step3.message_groups2'|trans|raw -}}</p>
{% endblock %}

{% block request_navigate %}
    {{ parent() }}
    <a class="btn btn-default"
       href="{{ admin.generateUrl('list-groups',
       {'organization_id': organization.id, 'search': search, 'search_group': search_group, 'sort': sort,
           'sort_group': sort_group}) }}">{{ 'registration_request.wizard.step3.go_back_groups_link'|trans }}</a>
{% endblock %}
