{% extends base_template %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #request-organizations td.width-control {
            width: 1px;
            white-space: nowrap;
            text-align: center;
        }

        a.request-sort-asc:hover,
        a.request-sort-desc:hover {
            cursor: pointer;
        }

        a.request-sort-asc:after {
            content: "";
            border-top: 4px solid black;
            border-right: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid transparent;
        }

        a.request-sort-desc:after {
            content: "";
            border-top: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid black;
            border-left: 4px solid transparent;
        }
    </style>
{% endblock %}

{%- block prototypeSearchAction -%}
    {% spaceless %}
        <a class="btn btn-sm btn-default request-btn"
           data-href="{{ admin.generateUrl('list-groups', { organization_id: '__id__' }) }}"
           onclick="onSearchActionButtonClick(this);">
            {{ 'registration_request.wizard.action.search_group'|trans }}
        </a>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRequestAction -%}
    {% spaceless %}
        <a class="btn btn-sm btn-info request-btn"
           data-name="__name__"
           data-href="{{ admin.generateUrl('request-organization', { organization_id: '__id__' }) }}"
           onclick="onRequestActionButtonClick(this);">
            {{ 'registration_request.wizard.action.send_request'|trans }}
        </a>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRequestSent -%}
    {% spaceless %}
        <span style="color: gray;">{{ 'registration_request.wizard.request_sent'|trans }}</span>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRegistered -%}
    {% spaceless %}
        <span style="font-weight: bold; color: #00a65a;">{{ 'registration_request.wizard.registered'|trans }}</span>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRestricted -%}
    {% spaceless %}
        <span style="font-weight: bold; color: #dd4b39;">{{ 'registration_request.wizard.step1.restricted'|trans }}</span>
    {% endspaceless %}
{%- endblock -%}

{%- block prototypeRow -%}
    {% spaceless %}
        <tr>
            <td>__name__</td>
            <td class="width-control">__actionRequest__</td>
            <td class="width-control">__actionSearch__</td>
        </tr>
    {% endspaceless %}
{%- endblock -%}

{% block list_table %}
    <h1>{{ 'registration_request.wizard.step1.title'|trans }}</h1>
    <p>{{ 'registration_request.wizard.step1.message'|trans }}</p>
    <div class="col-sm-10">
        <input type="text" value='{{ search }}' class="form-control" id="request-search-input">
    </div>
    <div class="col-sm-2">
        <button class="btn btn-default" id="request-search-button" {{ organizations|length == 0 ? "disabled=disabled" }}>
            {{ 'registration_request.wizard.search_button'|trans }}
        </button>
    </div>
    <br/>
    <br/>
    <div class="col-sm-12">
        <table class="table table-striped table-condensed" {{ organizations|length == 0 ? "style='display: none;'" }}>
            <thead>
            <tr>
                <th>
                    <a class="{{ sort ? 'request-sort-asc' : 'request-sort-desc' }} request-btn" id="request-sort"
                       onclick="onColumnHeaderClick(this);">{{ 'registration_request.wizard.step1.name'|trans }}</a>
                </th>
                <th colspan="2" style="text-align: center;">{{ 'registration_request.wizard.request_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody id="request-organizations"
                   data-prototype-row="{{ block('prototypeRow')|e('html') }}"
                   data-prototype-search="{{ block('prototypeSearchAction')|e('html') }}"
                   data-prototype-request="{{ block('prototypeRequestAction')|e('html') }}"
                   data-prototype-request-sent="{{ block('prototypeRequestSent')|e('html') }}"
                   data-prototype-registered="{{ block('prototypeRegistered')|e('html') }}"
                   data-prototype-restricted="{{ block('prototypeRestricted')|e('html') }}">
            {%- for organization in organizations -%}
                {%- set searchAction = block('prototypeSearchAction')|replace({'__id__': organization['id']}) -%}
                {%- set requestAction = '' -%}
                {%- if organization['registered'] == 1 -%}
                    {%- set requestAction = block('prototypeRegistered') -%}
                {%- elseif organization['has_request'] == 1 -%}
                    {%- set requestAction = block('prototypeRequestSent') -%}
                {%- elseif organization['allowSingUp'] == 1 -%}
                    {%- set requestAction = block('prototypeRequestAction')|
                    replace({'__id__': organization['id'], '__name__': organization['name']}) -%}
                {% else %}
                    {%- set requestAction = block('prototypeRestricted') -%}
                {%- endif -%}
                {%- set row = block('prototypeRow')|
                replace({
                '__name__': organization['name'],
                '__actionSearch__': searchAction,
                '__actionRequest__': requestAction
                }) -%}
                {{- row|raw -}}
            {%- endfor -%}
            </tbody>
        </table>
        {% spaceless %}
            <p id="request-total" {{ search is empty ? "style='display: none;'" }}>
                {{- 'registration_request.wizard.step1.total_organizations'|trans({'%total%': organizations|length}) -}}
            </p>
        {% endspaceless %}
    </div>
    <div class="modal fade" id="dialog-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close request-btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'registration_request.wizard.modal_title'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        {{ 'registration_request.wizard.step1.modal_text'|
                        trans({'%organization%': '<br/>"<b id=\'modal-organization\'>!undefined!</b>"'})|raw }}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default request-btn" data-dismiss="modal" style="width: 100px;">{{ "no"|trans }}</button>
                    <button type="button" class="btn btn-primary request-btn" style="width: 100px;" id="yes-button-modal">{{ "yes"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var originalSearch = '{{ search }}';
        var $searchInput;
        var $searchButton;

        function onColumnHeaderClick(obj) {
            var $obj = $(obj);
            if (!$obj.attr('disabled')) {
                $obj.toggleClass('request-sort-asc');
                $obj.toggleClass('request-sort-desc');
                ajaxData(false);
            }
        }

        function disableFunctionality() {
            $(document.body).css('cursor', 'wait');
            $('a.request-btn').attr('disabled', true);
            $searchInput.prop('disabled', true);
            $searchButton.prop('disabled', true);
            $('button.request-btn').prop('disabled', true);
        }

        function enableFunctionality() {
            $('button.request-btn').prop('disabled', false);
            $searchInput.prop('disabled', false);
            $searchButton.prop('disabled', !$searchInput.val());
            $('a.request-btn').attr('disabled', false);
            $(document.body).css('cursor', '');
        }

        function getSearchValue() {
            var result = $searchInput.val();
            if (!result) {
                result = originalSearch;
            }
            return result;
        }

        function makeURLParameters(search) {
            var result = '?';
            if (search) {
                result += 'search=' + encodeURIComponent(search) + '&';
            }
            var sort;
            if ($('#request-sort').hasClass('request-sort-asc')) {
                sort = '1';
            } else {
                sort = '0';
            }
            result += 'sort=' + sort;
            return result;
        }

        function onRequestActionButtonClick(obj) {
            var $obj = $(obj);
            if (!$obj.attr('disabled')) {
                $('#modal-organization').text($obj.data('name'));
                $('#yes-button-modal').off('click').click(function () {
                    disableFunctionality();
                    document.location = $obj.data('href') + makeURLParameters(originalSearch);
                });
                $('#dialog-modal').modal('show');
            }
        }

        function onSearchActionButtonClick(obj) {
            var $obj = $(obj);
            if (!$obj.attr('disabled')) {
                disableFunctionality();
                document.location = $obj.data('href') + makeURLParameters(originalSearch);
            }
        }

        function setData(data) {
            var $tbody = $('#request-organizations');
            $tbody.find('tr').remove();
            if (data.length > 0) {
                var prototypeSearch = $tbody.data('prototype-search');
                var prototypeRequest = $tbody.data('prototype-request');
                var prototypeRequestSent = $tbody.data('prototype-request-sent');
                var prototypeRegistered = $tbody.data('prototype-registered');
                var prototypeRestricted = $tbody.data('prototype-restricted');
                var prototypeRow = $tbody.data('prototype-row');
                var searchA, requestA, row;
                for (var i = 0; i < data.length; i++) {
                    searchA = prototypeSearch.replace('__id__', data[i].id);
                    requestA = prototypeRequest.replace('__id__', data[i].id);
                    requestA = requestA.replace('__name__', data[i].name);
                    row = prototypeRow.replace('__name__', data[i].name);
                    row = row.replace('__actionSearch__', searchA);
                    if (1 == data[i].registered) {
                        row = row.replace('__actionRequest__', prototypeRegistered);
                    } else if (1 == data[i].has_request) {
                        row = row.replace('__actionRequest__', prototypeRequestSent);
                    } else if (1 == data[i].allowSingUp) {
                        row = row.replace('__actionRequest__', requestA);
                    } else {
                        row = row.replace('__actionRequest__', prototypeRestricted);
                    }
                    $tbody.append(row);
                }
                $tbody.parent().css('display', '');
            } else {
                $tbody.parent().css('display', 'none');
            }

            var $total = $('#request-total');
            if ($searchInput.val()) {
                var totalText = "{{ 'registration_request.wizard.step1.total_organizations'|trans({'%total%': '__total__'}) }}";
                totalText = totalText.replace('__total__', data.length);
                $total.text(totalText);
                $total.css('display', '');
            } else {
                $total.css('display', 'none');
            }
        }

        /**
         * @param newSearch - boolean, true if it is necessary to receive a new data according a new search criteria
         */
        function ajaxData(newSearch) {
            disableFunctionality();
            var search;
            if (newSearch) {
                search = getSearchValue();
            } else {
                search = originalSearch;
            }
            $.ajax({
                url: "{{ admin.generateUrl('list') }}" + makeURLParameters(search),
                type: 'GET',
                dataType: 'json',
                error: function () {
                    console.error('Organization search ajax error!');
                    enableFunctionality();
                },
                success: function (response) {
                    {# response = [{'id', 'name', 'allowSingUp', 'registered', 'has_request'}, ...] #}
                    originalSearch = search;
                    setData(response);
                    enableFunctionality();
                }
            });
        }

        function onButtonSearch() {
            ajaxData(true);
        }

        function onInputChange(event) {
            var valueChanged = false;
            if (event.type == 'propertychange') {
                valueChanged = e.originalEvent.propertyName == 'value';
            } else {
                valueChanged = true;
            }
            if (valueChanged) {
                $searchButton.prop('disabled', !$(this).val());
            }
        }

        $(document).ready(function () {
            $searchButton = $('#request-search-button');
            $searchButton.on('click', onButtonSearch);
            $searchInput = $("#request-search-input");
            $searchInput.on('input propertychange paste', onInputChange);
            $searchInput.on('keydown', function (event) {
                if ((event.keyCode == 13) && $(this).val()) {
                    onButtonSearch();
                    return false;
                }
            });
        });
    </script>
{% endblock javascripts %}
