{% extends ':Admin/CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% set ajaxURL = admin.generateUrl('update-moderators') %}
    {% embed ':Admin/TopicPermission:update_moderators.html.twig' with {'ajaxURL': ajaxURL} %}
    {% endembed %}
{% endblock javascripts %}
