{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.type is constant('TYPE_GROUP', object) %}
        {% set displayAction = admin.isOwnGroupId(object.groupId) %}
    {% else %}
        {% set displayAction = admin.isOwnGroupUserId(object.userId) %}
    {% endif %}

    {% if displayAction %}
        <input type="checkbox" name="idx[]" value="{{ admin.id(object) }}">
    {% endif %}
{% endblock %}
