{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.type is constant('TYPE_GROUP', object) %}
        <a class="group-slider"
           style="cursor: pointer;"
           data-id="{{ object.groupId }}"
           data-href="{{ admin.generateUrl('group-members', {'groupId': object.groupId}) }}"
           data-ajax="0"
           onclick="showContent(this)"
        ><i id="groupSign{{ object.groupId }}" class="fa fa-plus-square-o"></i></a>&nbsp;{{ value }}
        <div style="display: none;" id="groupMembers{{ object.groupId }}">
            <table class="table table-bordered table-striped table-condensed">
                <tbody></tbody>
            </table>
        </div>
    {% else %}
        {{ value }}
    {% endif %}
{% endblock %}
