{% extends ':Admin/CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% if not admin.isCurrentUserOrganizationAdmin() and (admin.ownParticipantsQuantity > 0) %}
        {% embed ':Admin:correct_batch_quantity.html.twig' with {'newBatchQuantity': admin.ownParticipantsQuantity} %}
        {% endembed %}
    {% endif %}

    <script type="text/javascript">
        var totalGroupPermissionsQuantity = {{ admin.getTotalGroupPermissionsQuantity() }};
        var ownGroupPermissionsQuantity = {{ admin.getOwnGroupPermissionsQuantity() }};

        function showDialog(obj, type) {
            if (type === '{{ constant('AppBundle\\DataTransferObject\\DTOTopicPermission::TYPE_GROUP') }}') {
                if (totalGroupPermissionsQuantity > 1) {
                    if (ownGroupPermissionsQuantity > 1) {
                        {# Standard operation of the group exclusion from the topic: #}
                        showDialogExclude(obj);
                    } else {
                        {# Warning: You are excluding the last own group! You can lost control over the topic! #}
                        showDialogExclude(obj, '{{ 'topic_permission.modal.text.exclude_last_own_group'|
                        trans({'%topicName%': admin.topic is defined ? admin.topic.name : '' })|raw }}');
                    }
                } else {
                    {# Cannot exclude the last group from the topic: #}
                    showDialogOk(obj);
                }
            } else {
                {# Excluding a moderator from the topic: #}
                showDialogExclude(obj, '{{ 'topic_permission.modal.text.exclude_moderator'|
                trans({'%topicName%': admin.topic is defined ? admin.topic.name : '' })|raw }}');
            }
        }

        function enableSliders() {
            $('a.group-slider').attr('disabled', false);
        }

        function disableSliders() {
            $('a.group-slider').attr('disabled', true);
        }

        function showContent(obj) {
            if ($(obj).attr('disabled')) { return; }

            var id = $(obj).data('id');
            var $div = $('#groupMembers' + id);

            function slide() {
                $div.slideToggle(400, function () {
                    var $sign = $('#groupSign' + id);
                    $sign.toggleClass('fa-plus-square-o');
                    $sign.toggleClass('fa-minus-square-o');
                });
            }

            if ($(obj).data('ajax') == 0) {
                $(document.body).css('cursor', 'wait');
                disableSliders();
                $.ajax({
                    url: $(obj).data('href'),
                    type: 'GET',
                    dataType: 'json',
                    error: function () {
                        console.error('Ajax error when receiving members for the group with id=' + id + '!');
                        enableSliders();
                        $(document.body).css('cursor', '');
                    },
                    success: function (response) {
                        {# response = [{'id', 'username', 'fullName'},...] #}
                        $(obj).data('ajax', 1);
                        var tableData = [], j = -1;
                        for (var i = 0, size = response.length; i < size; ++i) {
                            tableData[++j] = '<tr><td>';
                            tableData[++j] = response[i].username;
                            tableData[++j] = '</td><td>';
                            tableData[++j] = response[i].fullName;
                            tableData[++j] = '</td></tr>';
                        }
                        $div.find('tbody').html(tableData.join(''));
                        enableSliders();
                        $(document.body).css('cursor', '');
                        slide();
                    }
                });
            } else {
                slide();
            }
        }
    </script>
{% endblock %}

{% block list_table %}
    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Exclude' -%}
        {%- block dialogHeaderText 'topic_permission.modal.title.exclude'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'topic_permission.modal.text.exclude_group'|
        trans({'%topicName%': admin.topic is defined ? admin.topic.name : '' })|raw -%}
        {%- block dialogYesButtonClass 'btn-danger' -%}
    {% endembed %}

    {% embed ':Admin:modal_dialog.html.twig' %}
        {%- block tag 'Ok' -%}
        {%- block dialogHeaderText 'topic_permission.modal.title.exclude'|trans -%}
        {%- block dialogHeaderTextClass 'text-danger' -%}
        {%- block dialogHeaderClass 'bg-danger' -%}
        {%- block dialogText 'topic_permission.modal.text.exclude_last_group'|
        trans({'%topicName%': admin.topic is defined ? admin.topic.name : '' })|raw -%}
        {% block dialogButtons %}
            <button type="button" data-dismiss="modal" class="btn modal-dlg-btn btn-danger" style="width: 100px;"
            >{{ 'ok'|trans }}</button>
        {% endblock %}
    {% endembed %}

    {{ parent() }}
{% endblock %}

{% block batch %}
    {% if admin.isCurrentUserOrganizationAdmin() or (admin.ownParticipantsQuantity > 0) %}
        {{ parent() }}
    {% endif %}
{% endblock %}
