{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <span class="label {{ object.type is constant('TYPE_GROUP', object) ?
    'label-success' : 'label-danger' }}">{{ object.getTypesList()[object.type]|trans }}</span>
{% endblock %}
