{% if admin.isGranted('DELETE', object) and admin.hasRoute('exclude') %}
    {% if object.type is constant('TYPE_GROUP', object) %}
        {% set objectID = object.topicGroupPermissionId %}
        {% set displayAction = admin.isOwnGroupId(object.groupId) %}
    {% else %}
        {% set objectID = object.topicModeratorId %}
        {% set displayAction = admin.isOwnGroupUserId(object.userId) %}
    {% endif %}

    {% if displayAction %}
        <a class="actionExclude btn btn-sm btn-danger"
           data-href="{{ admin.generateUrl('exclude', {'type': object.type, 'id': objectID, 'topicId': admin.topic.id}) }}"
           data-parameter0="{{ object.getTypesList(1)[object.type]|trans }}"
           data-parameter1="{{ object.name }}"
           onclick="showDialog(this, '{{ object.type }}')">
            <i class="fa fa-times"></i>
            {{ 'topic_permission.label.action_exclude'|trans }}
        </a>
    {% endif %}
{% endif %}
