<script type="text/javascript">
    var $moderators;
    var $groups;
    var $controls;
    var $buttons;

    function disableFunctionality() {
        $(document.body).css('cursor', 'wait');
        $controls.each(function () {
            if ($(this).data('select2')) {
                $(this).select2('enable', false);
            } else {
                $(this).prop('disabled', true);
            }
        });
        $buttons.prop('disabled', true);
    }

    function enableFunctionality() {
        $controls.each(function () {
            if ($(this).data('select2')) {
                $(this).select2('enable', true);
            } else {
                $(this).prop('disabled', false);
            }
        });
        $buttons.prop('disabled', false);
        $(document.body).css('cursor', '');
    }

    function setModeratorOptions(optionsData) {
        $moderators.empty();
        for (var i = 0; i < optionsData.length; i++) {
            $moderators.append('<option value=' + optionsData[i].id + '>' + optionsData[i].text + '</option>');
        }
    }

    $(document).ready(function () {
        $controls = $('[id^={{ admin.uniqid }}][type!=hidden]');
        $buttons = $('button[type="submit"]');
        $groups = $('#{{ admin.uniqid }}_groups');
        $moderators = $('#{{ admin.uniqid }}_moderators');
        var optionsData = $moderators.select2('data');
        $moderators.select2('data', null);
        setModeratorOptions(optionsData);

        $groups.on('change',
                function (e) {
                    //alert('change : ' + JSON.stringify({groupIds: e.val}));
                    disableFunctionality();
                    $.ajax({
                        type: 'POST',
                        url: '{{ ajaxURL }}',
                        data: {groupIds: e.val},
                        dataType: 'json',
                        error: function () {
                            console.error('Updating moderators select2 dropdown AJAX error!');
                        },
                        success: function (response) {
                            //alert(JSON.stringify(response));
                            var i, j, found;
                            var oldData = $moderators.select2('data');
                            for (i = 0; i < oldData.length;) {
                                found = false;
                                for (j = 0; j < response.length; j++) {
                                    if (oldData[i].id == response[j].id) {
                                        found = true;
                                        break;
                                    }
                                }
                                if (found) {
                                    i++;
                                } else {
                                    oldData.splice(i, 1);
                                }
                            }
                            setModeratorOptions(response);
                            $moderators.select2('data', oldData);
                            enableFunctionality();
                        }
                    })
                }
        );
    });
</script>
