{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    {% if admin.subClasses is empty %}
        <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
            {#<i class="fa fa-plus-circle"></i>#}
           <span> {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</span>

            {#<i class="fa fa-plus-circle"></i>#}
            <img src="/app/images/icon-plus.png" title="Создать" class="rbtn rbtn-create">
        </a>


    {% else %}
        <li class="divider" role="presentation"></li>
        {% for subclass in admin.subclasses|keys %}
            <li>
                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                    <i class="fa fa-plus-circle"></i>
                    {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }} {{ subclass|trans({}, admin.translationdomain) }}
                </a>
            </li>
        {% endfor %}
        <li class="divider" role="presentation"></li>
    {% endif %}
{% endif %}
