{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasroute('list') and admin.isGranted('LIST')%}
    <a class="sonata-action-element" href="{{ admin.generateUrl('list') }}">
        {#<i class="fa fa-list"></i>#}
{#        {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}#}
        <span>{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</span>

        <img src="/app/images/icon-list.png" title="Вернуться к списку" class="rbtn rbtn-list">
    </a>
{% endif %}
