{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
    <a class="sonata-action-element" href="{{ admin.generateObjectUrl('show', object) }}">
        {#<i class="fa fa-eye"></i>#}
        <span>{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}</span>
        <img src="/app/images/icon-show.png" title="Показать" class="rbtn rbtn-show">
    </a>
{% endif %}
